@mixin generate-label-tag-styles {
  .LabelTagBase {
    @include flex(null, center);

    &--label {
      color: getLabelTagColors(label-color);
      margin: getLabelTagSizes(label-margin);
    }

    &--tag {
      > span {
        color: getLabelTagColors(tag-color) !important;
        font-weight: getLabelTagSizes(label-font-weight);
      }
    }
  }
}
