@mixin generate-status-view-styles {
  div.StatusView {
    @include flex(space-between, center);
    // width: getStatusViewSizes(status-width);
    width: 100%;
    padding: getStatusViewSizes(status-padding);
    box-sizing: border-box;
    background-color: getStatusViewColors(status-view-background-color);
    > span {
      &:first-child {
        padding: getStatusViewSizes(status-label-padding);
        height: getStatusViewSizes(status-label-height);
        font-size: getStatusViewSizes(status-label-font-size);
        text-align: left;
        color: getStatusViewColors(status-label-color);
        word-break: break-all;
        width: getStatusViewSizes(wallet-balance-width);
        @include dots-after-text();
      }
    }
    &--container {
      @include flex(null, center);
    }
    &--status {
      margin: getStatusViewSizes(st-label-margin);
    }
    &--iconButton {
      button {
        width: getStatusViewSizes(icon-button-sizes);
        height: getStatusViewSizes(icon-button-sizes);

        svg {
          fill: currentColor;
        }
      }

      &-text-label {
        margin-right: calculateRem(3px);
        @include flex(center, center);
        background: #e0e1ee;
        width: calculateRem(16px);
        height: calculateRem(15px);
        margin-top: calculateRem(1px);
        border-radius: calculateRem(5px);
        border: 0.5px solid #7d7dc1;
        padding: calculateRem(1px);
      }
      &-text-label-no-bordered {
        margin-right: calculateRem(3px);
        @include flex(center, center);
        width: calculateRem(16px);
        height: calculateRem(15px);
        margin-top: calculateRem(1px);
        padding: calculateRem(1px);
      }
    }

    &--with-spacings {
      margin-bottom: calculateRem(8px);
    }
  }
}
