@mixin generate-divider-styles {
  .Divider {
    position: relative;
    margin-left: getDividerSizes(divider-marin-left);

    &::before {
      content: '';
      @include center-absolute();
      height: getDividerSizes(divider-before-height);
      background-color: getDividerColors(divider-background-color);
      width: getDividerSizes(divider-before-width);
      left: getDividerSizes(divider-before-position-left);
    }
  }
}
