@mixin generate-divider-styles {
  .Divider {
    position: relative;
    margin-left: 2.8rem;

    &::before {
      content: '';

      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);

      height: 1.2rem;
      background: #8ea6c1;
      width: 0.1rem;
      left: -1.4rem;
    }
  }
}
