@mixin generate-divider-styles {
  .Divider {
    position: relative;
    margin-left: getDividerSizes(divider-marin-left);

    &::before {
      content: '';
      @include center-absolute();
      height: getDividerSizes(divider-before-height);
      background-color: getDividerColors(divider-background-color);
      width: getDividerSizes(divider-before-width);
      left: getDividerSizes(divider-before-position-left);
    }
  }
  .VerticalDivider {
    &::before {
      position: absolute;
      content: '';
      height: 1px;
      width: 95%;
      top: 100%;
      left: 2%;
      background-color: #f2f2f2;
    }
  }
  .Large {
    &::before {
      height: calculateRem(31px);
    }
  }
}
