$condition-card-sizes: (
  container-height: calculateRem(247px),
  border-radius: calculateRem(10px),
  icon-sizes: calculateRem(32px),
  icon-margin-bottom: calculateRem(16px),
  title-margin-bottom: calculateRem(8px),
  click-fc: calculateRem(14px)
);

$condition-card-colors: (
  border-color: color(catskill-white),
  bg: color(white),
  title-color: #505d6e,
  click-here: color(d-blue-x)
);

@function getConditionCardSizes($key) {
  @return map-get($condition-card-sizes, $key);
}
@function getConditionCardColors($key) {
  @return map-get($condition-card-colors, $key);
}
