@mixin generate-player-details-styles {
  .PlayerDetailsBase {
    background-color: getPlayerDetailsColors(player-details-base-background);
    &--breadCrumb {
      margin-bottom: getPlayerDetailsSizes(player-details-base-margin);
    }

    &--content {
      @include flex(null, flex-start);
    }

    &--content-control {
      background-color: getPlayerDetailsColors(content-control-bg);
      margin: getPlayerDetailsSizes(content-control-margin);
      min-width: getPlayerDetailsSizes(content-control-width);
    }

    &--content-control__tabs {
      padding: getPlayerDetailsSizes(content-control-tabs);
    }

    &--content-control__sub-tabs {
      padding: getPlayerDetailsSizes(content-control-subTab-padding);
    }

    &--content-control__forms {
      @include flex(null, space-between, $flex-wrap: wrap);
      position: relative;
      padding: getPlayerDetailsSizes(content-control-forms-padding);
      margin: getPlayerDetailsSizes(content-control-forms-margin);
      width: getPlayerDetailsSizes(content-control-forms-width);
      box-sizing: border-box;
    }
    .LastActivityViewWrapper {
      margin-top: getPlayerDetailsSizes(lastactivity-view-wrapper-margin);
    }
  }
}
