$player-details-sizes: (
  content-control-margin: 0 0 0 calculateRem(8px),
  content-control-width: calculateRem(994px),
  content-control-padding: 0 0 calculateRem(8px) 0,
  content-control-tabs: calculateRem(16px) calculateRem(16px) 0 calculateRem(16px),
  content-control-subTab-padding: calculateRem(24px) calculateRem(16px) 0 calculateRem(16px),
  content-control-forms-padding: 0 calculateRem(16px),
  content-control-forms-margin: calculateRem(8px) calculateRem(16px) calculateRem(18px) 0,
  content-control-forms-width: calculateRem(994px),
  player-details-base-margin: calculateRem(16px)
);

$player-details-colors: (
  player-details-base-background: color(alabaster),
  content-control-bg: color(white)
);

@function getPlayerDetailsSizes($key) {
  @return map-get($player-details-sizes, $key);
}

@function getPlayerDetailsColors($key) {
  @return map-get($player-details-colors, $key);
}
