$player-details-sizes: (
  //USER INFORMATION
  user-width: calculateRem(244px),
  user-margin: 0 0 calculateRem(8px) 0,
  user-avatar-width: calculateRem(56px),
  user-details-font-size: calculateRem(14px),
  user-details-height: calculateRem(17px),
  user-details-name-padding: calculateRem(16px) 0 calculateRem(8px) 0,
  user-info-container-padding: 0 calculateRem(16px) calculateRem(12px) calculateRem(16px),
  user-info-container-margin: calculateRem(16px) 0 0 0,
  user-info-font-size: calculateRem(12px),
  user-info-height: calculateRem(14px),
  //WALLET INFORMATION
  wallet-width: calculateRem(244px),
  wallet-margin: 0 0 calculateRem(8px) 0,
  wallet-padding: calculateRem(10px) calculateRem(16px),
  wallet-title-height: calculateRem(14px),
  wallet-title-font-size: calculateRem(12px),
  wallet-rb-margin: calculateRem(10px) 0 0 0,
  wallet-rb-items-margin: 0 0 calculateRem(4px) 0,
  wallet-rb-height: calculateRem(14px),
  wallet-rb-font-size: calculateRem(12px),
  wallet-rb-balance-height: calculateRem(17px),
  wallet-rb-balance-font-size: calculateRem(14px),
  wallet-rb-sub-padding: 0 0 0 calculateRem(7px),
  wallet-rb-sub-label-height: calculateRem(14px),
  wallet-rb-sub-label-font-size: calculateRem(12px),
  wallet-rb-sub-balance-height: calculateRem(17px),
  wallet-rb-sub-balance-font-size: calculateRem(14px),
  wallet-bb-margin: calculateRem(8px) 0 calculateRem(16px) 0,
  wallet-tb-balance-padding: calculateRem(3px) calculateRem(8px),
  wallet-tb-balance-borderRadius: calculateRem(14px),
  wallet-tb-padding: calculateRem(7px) 0 0 0,
  //STATUS INFORMATION
  status-width: calculateRem(244px),
  status-padding: calculateRem(6px),
  status-margin: 0 0 calculateRem(8px) 0,
  status-label-padding: 0 0 0 calculateRem(10px),
  status-label-height: calculateRem(14px),
  status-label-font-size: calculateRem(12px),
  //LAST ACTIVITY INFORMATION
  last-activity-width: calculateRem(244px),
  last-activity-padding: calculateRem(10px) calculateRem(16px) calculateRem(8px) calculateRem(16px),
  last-activity-margin: 0 0 calculateRem(8px) 0,
  last-activity-label-height: calculateRem(14px),
  last-activity-label-font-size: calculateRem(12px),
  last-activity-label-max-width: calculateRem(58px),
  last-activity-label-margin: 0 0 calculateRem(6px) 0,
  last-activity-container-margin: calculateRem(15px) 0 0 0,
  //TAGS INFORMATION
  tags-width: calculateRem(244px)
);

$player-details-colors: (
  user-details-name: #3c54b2,
  user-details-id: #8ea6c1,
  user-info: #505d6e,
  //WALLET INFORMATION
  wallet-title-color: #3c54b2,
  wallet-rb-title-color: #8ea6c1,
  wallet-rb-balance-color: #505d6e,
  wallet-tb-color: #dda213,
  wallet-tb-background: #fcf6e7,
  //STATUS INFORMATION
  status-label-color: #3c54b2,
  //LAST ACTIVITY INFORMATION
  last-activity-label-color: #3c54b2,
  last-activity-date-color: #505d6e
);

@function getPlayerDetailsSizes($key) {
  @return map-get($player-details-sizes, $key);
}

@function getPlayerDetailsColors($key) {
  @return map-get($player-details-colors, $key);
}
