@mixin generate-button-with-icon-styles {
  .ButtonWithIcon {
    @include button-reset;
    @include flex(null, center);
    font-family: inherit;
    letter-spacing: getButtonWithIconSizes(button-letter-spacing);
    color: getBaseColors(accent-color);
    font-weight: getButtonWithIconSizes(button-font-weight);
    font-size: getButtonWithIconSizes(button-font-size);
    line-height: getButtonWithIconSizes(button-line-height);
    transition: color getButtonWithIconSizes(hover-transition);

    &:disabled {
      opacity: getButtonWithIconSizes(button-disabled);
      cursor: default;
    }
    // &:hover {
    //   color: getButtonWithIconColors(button-hover-color);
    // }
  }

  .ButtonIconWrapper {
    @include flex(null, center);

    margin-right: getButtonWithIconSizes(button-icon-margin);

    width: getButtonWithIconSizes(button-icon-size);
    height: getButtonWithIconSizes(button-icon-size);

    path {
      fill: getBaseColors(accent-color);
    }
  }
}
