$status-view-sizes: (
  //STATUS INFORMATION
  status-width: calculateRem(244px),
  status-padding: calculateRem(6px),
  status-margin: 0 0 calculateRem(8px) 0,
  status-label-padding: 0 0 0 calculateRem(10px),
  status-label-height: calculateRem(14px),
  status-label-font-size: calculateRem(12px),
  st-label-margin: 0 calculateRem(4px) 0 0,
  icon-button-sizes: calculateRem(24px),
  icon-button-icon-sizes: calculateRem(17px)
);

$status-view-colors: (
  //STATUS INFORMATION
  status-view-background-color: color(white),
  status-label-color: color(primary)
);

@function getStatusViewSizes($key) {
  @return map-get($status-view-sizes, $key);
}

@function getStatusViewColors($key) {
  @return map-get($status-view-colors, $key);
}
