@mixin generate-providerdetails-styles {
  .ProviderDetailsBase--container {
    @include flex(null, flex-start);
    margin-top: getProviderDetailsSizes(provider-details-margin-top);
    max-width: 1246px;
  }
  .ProviderDetailsBase--leftBlock {
    margin-right: getProviderDetailsSizes(provider-left-block-margin);
  }

  .StatusContent {
    margin-bottom: getProviderDetailsSizes(status-content-margin-bottom);
  }

  .ButtonContent {
    @include flex(flex-end, center);
    margin-top: getProviderDetailsSizes(button-content-margin-top);
    button {
      width: getProviderDetailsSizes(button-content-width);
    }
  }

  .GamesList {
    padding: getProviderDetailsSizes(games-list-padding);
    width: getProviderDetailsSizes(games-list-width);
    &__Header {
      @include flex(space-between);
    }
    &__Header-1 {
      @include flex(flex-start);
    }
    &__Header-2 {
      @include flex(flex-end);
    }
    &__Empty {
      display: none;
    }
    &__Add-Game-Btn {
      @include p;
      &-Label {
        @include flex($justify-content: center, $align-items: center);
        @include p;
        display: inline-flex;
      }
      &--Icon {
        @include flex($justify-content: center, $align-items: center);
        width: getProviderDetailsSizes(games-list-add-game-btn-icon-width);
        height: getProviderDetailsSizes(games-list-add-game-btn-icon-height);
        background: getProviderDetailsColors(games-list-add-game-btn-icon-bg-color);
        color: getProviderDetailsColors(games-list-add-game-btn-icon-color);
        font-size: getProviderDetailsSizes(games-list-add-game-btn-icon-font-size);
        border-radius: getProviderDetailsSizes(games-list-add-game-btn-icon-border-radius);
        font-weight: getProviderDetailsSizes(games-list-add-game-btn-icon-font-weight);
        transform: getProviderDetailsSizes(games-list-add-game-btn-icon-transform);
        font-style: getProviderDetailsSizes(games-list-add-game-btn-icon-font-style);
      }
    }
  }

  .GamesContainer {
    width: getProviderDetailsSizes(games-container-width);
    display: getProviderDetailsSizes(games-container-display);
    grid-template-columns: getProviderDetailsSizes(games-container-grid-template-columns);
    grid-template-rows: getProviderDetailsSizes(games-container-grid-template-rows);
    grid-column-gap: getProviderDetailsSizes(games-container-grid-column-gap);
    grid-row-gap: getProviderDetailsSizes(games-container-grid-row-gap);
    & > div > div:first-child {
      font-size: getProviderDetailsSizes(games-container__div__div-first-child-font-size);
      height: getProviderDetailsSizes(games-container__div__div-first-child-height) !important;
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg fill="%23aaaaaa" xmlns="http://www.w3.org/2000/svg" width="36" height="29" viewBox="0 0 36.1 29.8"%3E%3Cpath d="M30.3 4H1.8C.8 4 0 4.8 0 5.8V28c0 1 .8 1.8 1.8 1.8h28.5c1 0 1.8-.8 1.8-1.8V5.8c0-1-.8-1.8-1.8-1.8zm-1.8 3.6v16.3l-4.1-5c-.2-.2-.4-.2-.6-.1L19 22.3l-8.3-8c-.2-.2-.5-.2-.6 0v.1l-6.4 9.1V7.6h24.8zm-10.8 6.8c0-1.6 1.3-2.9 2.9-2.9 1.6 0 2.9 1.3 2.9 2.9 0 1.6-1.3 2.9-2.9 2.9-1.6 0-2.9-1.3-2.9-2.9zm17.1 8.8c-.8 0-1.4-.6-1.4-1.4V2.7H5.2c-.7 0-1.4-.6-1.4-1.4S4.5 0 5.2 0h29.6c.8 0 1.4.6 1.4 1.4v20.5c-.1.7-.7 1.3-1.4 1.3z"/%3E%3C/svg%3E');
      background-color: getProviderDetailsColors(games-container__div__div-bg-color);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }

    & > div > div:last-child {
      font-size: getProviderDetailsSizes(games-container__div__div-last-child-font-size);
      height: getProviderDetailsSizes(games-container__div__div-last-child-height) !important;
    }

    & > div > div {
      padding: 20px ​0 !important;
    }
    & > div > div > p {
      font-size: getProviderDetailsSizes(games-container__div__div__p-font-size) !important;
      max-width: getProviderDetailsSizes(games-container__div__div__p-max-width) !important;
    }

    & > div > div {
      width: getProviderDetailsSizes(games-container__div__div-width) !important;
      height: getProviderDetailsSizes(games-container__div__div-height) !important;
    }
  }

  .TagsCell {
    @include flex;
    padding: getProviderDetailsSizes(tags-cell-padding);
    & > svg {
      margin-right: getProviderDetailsSizes(tags-cell__svg-margin-right);
    }
    & > div {
      margin-right: getProviderDetailsSizes(tags-cell__svg-margin-right);
    }
  }

  .TabContent {
    @include flex;
    box-sizing: getProviderDetailsSizes(tab-content-box-sizing);
    &--TwoColGrid {
      display: getProviderDetailsSizes(tab-content-two-col-grid-display);
      grid-template-columns: getProviderDetailsSizes(tab-content-two-col-grid-grid-template-columns);
      grid-template-rows: getProviderDetailsSizes(tab-content-two-col-grid-grid-template-rows);
      grid-column-gap: getProviderDetailsSizes(tab-content-two-col-grid-grid-column-gap);
      grid-row-gap: getProviderDetailsSizes(tab-content-two-col-grid-grid-row-gap);
      grid-template-areas: getProviderDetailsSizes(tab-content-two-col-grid-grid-template-areas);
    }
    .FlexibleFormWrapper {
      box-sizing: getProviderDetailsSizes(flexible-form-wrapper-box-sizing);
      & > div,
      & > div > div {
        width: 100%;
        box-sizing: getProviderDetailsSizes(flexible-form-wrapper-box-sizing);
      }
      &--3 {
        width: getProviderDetailsSizes(flexible-form-wrapper--3-width);
        grid-area: getProviderDetailsSizes(flexible-form-wrapper--3-grid-area);
      }
    }
  }

  .ProviderDetails__Bottom-Fading-Cell {
    display: block;
    width: getProviderDetailsSizes(provider-details-bottom-fading-cell-width);
    @include p;
    &:after {
      display: getProviderDetailsSizes(provider-details-bottom-fading-cell-after-display);
      content: getProviderDetailsSizes(provider-details-bottom-fading-cell-after-content);
      position: getProviderDetailsSizes(provider-details-bottom-fading-cell-after-position);
      bottom: getProviderDetailsSizes(provider-details-bottom-fading-cell-after-bottom);
      left: getProviderDetailsSizes(provider-details-bottom-fading-cell-after-left);
      z-index: getProviderDetailsSizes(provider-details-bottom-fading-cell-after-z-index);
      width: getProviderDetailsSizes(provider-details-bottom-fading-cell-after-width);
      height: getProviderDetailsSizes(provider-details-bottom-fading-cell-after-height);
      background: getProviderDetailsColors(provider-details-bottom-fading-cell-after-bg-color);
    }
  }

  .GameDetailsBase__GameTag {
    cursor: getProviderDetailsSizes(game-tag-cursor);
  }
}
