$providerdetails-sizes: (
  provider-details-margin-top: calculateRem(11px),
  left-block-width: calculateRem(340px),
  provider-games-margin-top: calculateRem(150px),
  label-content-margin-top: calculateRem(24px),
  countries-content-margin: calculateRem(8px) calculateRem(8px) 0 0,
  license-content-margin-top: calculateRem(24px),
  copy-field-content-margin-top: calculateRem(26px),
  button-content-margin-top: calculateRem(24px),
  button-content-width: calculateRem(131px),
  provider-games-empty-margin-top: calculateRem(30px),
  provider-games-empty-text-margin-top: calculateRem(10px),
  license-font-size: calculateRem(16px),
  provider-left-block-margin: calculateRem(8px),
  double-block-top-margin: calculateRem(8px),
  status-content-margin-bottom: calculateRem(8px),
  status-content-height: calculateRem(37px),
  //
  games-list-add-game-btn-icon-width: calculateRem(12px),
  games-list-add-game-btn-icon-height: calculateRem(12px),
  games-list-add-game-btn-icon-font-size: calculateRem(11px),
  games-list-add-game-btn-icon-font-weight: 700,
  games-list-add-game-btn-icon-font-style: normal,
  games-list-add-game-btn-icon-border-radius: 50%,
  games-list-add-game-btn-icon-transform: translate(-8px, 0),
  //
  games-list-padding: calculateRem(15px) calculateRem(15px) calculateRem(15px),
  games-list-width: 100%,
  //
  game-tag-cursor: pointer,
  //
  provider-details-bottom-fading-cell-width: 100%,
  provider-details-bottom-fading-cell-after-display: block,
  providers-games-padding-bottom: calculateRem(10px),
  provider-details-bottom-fading-cell-after-content: '',
  provider-details-bottom-fading-cell-after-position: absolute,
  provider-details-bottom-fading-cell-after-bottom: calculateRem(10px),
  provider-details-bottom-fading-cell-after-left: 0,
  provider-details-bottom-fading-cell-after-z-index: 10,
  provider-details-bottom-fading-cell-after-width: 100%,
  provider-details-bottom-fading-cell-after-height: calculateRem(32px),
  //
  games-container-width: 100%,
  // games-container-width: 946px,
  games-container-display: grid,
  games-container-grid-template-columns: repeat(auto-fill, minmax(10.7rem, 1fr)),
  games-container-grid-template-rows: auto,
  games-container-grid-column-gap: calculateRem(10px),
  games-container-grid-row-gap: calculateRem(10px),
  games-container-icon-size: calculateRem(58px) calculateRem(42px),
  game-tag-padding: calculateRem(10px) 0 0 0,
  //
  tags-cell-padding: calculateRem(7px) 0 calculateRem(18px) 0,
  tags-cell__svg-margin-right: calculateRem(10px),
  tags-cell__div-margin-right: calculateRem(10px),
  //
  tab-content-box-sizing: border-box,
  //
  tab-content-two-col-grid-display: grid,
  tab-content-two-col-grid-grid-template-columns: repeat(2, 1fr),
  tab-content-two-col-grid-grid-template-rows: auto,
  tab-content-two-col-grid-grid-column-gap: calculateRem(10px),
  tab-content-two-col-grid-grid-row-gap: calculateRem(10px),
  tab-content-two-col-grid-grid-template-areas: '. .' '. .',
  //
  games-container__div__div-first-child-font-size: 0,
  games-container__div__div-first-child-height: calculateRem(96px),
  //
  games-container__div__div-last-child-font-size: 0,
  games-container__div__div-last-child-height: calculateRem(40px),
  games-container__div__div-last-child-min-width: calculateRem(147px),
  //
  // games-container__div__div-padding: calculateRem(20px) 0 calculateRem(20px) 0,
  games-container__div__div-width: auto,
  games-container__div__div-height: auto,
  games-container__div__div--padding: calculateRem(20px) 0,
  //
  games-container__div__div__p-font-size: calculateRem(16px),
  games-container__div__div__p-max-width: calculateRem(147px),
  //
  flexible-form-wrapper-box-sizing: border-box,
  //
  flexible-form-wrapper__div__div-width: 100%,
  flexible-form-wrapper--3-width: 100%,
  flexible-form-wrapper--3-grid-area: 2 / 1 / 3 / 3,
  //
  hoverbox-linktext-bottom-sizes: calculateRem(8px),
  hoverbox-playbtn-sizes: calculateRem(32px),
  hoverbox-playbtn-view-icon-margin-top: calculateRem(-7px),
  hoverbox-playbtn-padding: calculateRem(-1px),
  hoverbox-playbtn-z-index: 1,
  hoverbox-playbtn-border-radius: 50%,
  hoverbox-playbtn-margin-top: calculateRem(-3px),
  hoverbox-playbtn-opacity: 0,
  hoverbox-playbtn-transition: 0.13s,
  hoverbox-playbtn-inner-z-index: 1,
  hoverbox-opacity-layer-z-index: 0,
  hoverbox-play-btn-icon-width: calculateRem(12px),
  hoverbox-play-btn-icon-transform: calculateRem(2px),
  hoverbox-view-icon-z-index: 1,
  hoverbox-view-icon-transition: 0.13s,
  hoverbox-view-icon-positon-right: calculateRem(8px),
  hoverbox-view-icon-width: calculateRem(12px),
  hoverbox-link-text-position-right: 50%,
  hoverbox-link-text-font-size: calculateRem(12px),
  hover-box-button-animation: 0.16s,
  hover-box-button-opacity: 1,
  hover-box-play-button-opacity: 1,
  hover-box-play-button-border: 1px,
  hover-box-play-button-padding: calculateRem(1px),
  hover-box-play-btn-inner-opacity: 1,
  hover-box-play-btn-icon-height: calculateRem(20px),
  hover-box-view-icon-position-right: calculateRem(10px),
  hover-box-link--text-opacity: 0.7,
  hover-box-link--text-hover-opacity: 1,
  hover-box-link--text-font-weight: 400,
  hover-box-link--text-after-height: calculateRem(1px),
  //
  games-list-header-1-div: calculateRem(260px),
  games-list-header-2-btn-svg-width: calculateRem(24px)
);

$providerdetails-colors: (
  label-color: color(black-color),
  license-color: color(wild-blue-yonder),
  //
  games-list-add-game-btn-icon-color: color(night-in-manchester),
  games-list-add-game-btn-icon-bg-color: color(white),
  //
  provider-details-bottom-fading-cell-after-bg-color:
    linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%),
  //
  games-container__div__div-bg-color: color(cascading-white),
  //
  hoverbox-playbtn-border-color: color(white-opacity),
  hoverbox-playbtn-background-color: color(white-opacity),
  hoverbox-opacity-layer-background-color: color(dark-opacity),
  play-icon-fill: color(night-in-manchester),
  hoverbox-view-icon-color: color(white),
  hover-box-link-text-after-backgroud-color: color(white-opacity-2),
  //
  hoverbox-play-btn-border-color: color(white),
  //
  games-container-icon-bg-color: color(alabaster),
  //
  games-container__div__div-last-child-bg-color: color(alabaster),
  //
  hover-box-play-btn-inner-background: color(white)
);

@function getProviderDetailsSizes($key) {
  @return map-get($providerdetails-sizes, $key);
}

@function getProviderDetailsColors($key) {
  @return map-get($providerdetails-colors, $key);
}
