$colors: (
  red-orange: #ff3434,
  alabaster: #fbfafd,
  white: #fff,
  black: #000,
  white-lilac-2: #ebedf7,
  catskill-white: #e8edf3,
  black-color: #505d6e,
  nepal: #8ea6c1,
  nepal-opacity: #8ea6c133,
  selago: #f6f8fe,
  wild-blue-yonder: #7c83ac,
  primary: var(--theme-default-primary, #6667ab),
  primary-transparent: rgba(150, 164, 218, 0.1),
  white-lilac: #f5f6fb,
  indigo: #4055bb,
  black-transparent: #99555580,
  woodsmoke: #040405,
  gamboge: #ffb92d,
  citrine-white: #fcf6e7,
  athens-gray: #e9eaf1,
  night-in-manchester: var(--theme-default-primary, #6667ab),
  cascading-white: #f6f6f6,
  black-rgba: #00000080,
  box-shadow-image: #00000029,
  shisha-coal: #3c3c3c,
  abs-black: #000,
  white-opacity: #ffffffb3,
  white-opacity-2: #ffffff80,
  dark-opacity: #000000cc,
  quartz: #48485d,
  blue-haze: #c2c2dd,
  astronaut: #2b3674,
  scampi: #6667ab,
  bermuda-gray: #7d86a9,
  card-border-color: #8ea6c180,
  cornflower-blue: #6c63ff,
  whisper: #f0f0f7,
  lime-c: #00b21e,
  orange-c: #eb8c1e,
  d-blue-x: #3c54b2
);

@function color($property-name) {
  @return map-get($colors, $property-name);
}
