$colors: (
  alabaster: #f9f9f9,
  white: #fff,
  catskill-white: #e8edf3,
  black-color: #505d6e,
  nepal: #8ea6c1,
  nepal-opacity:#8ea6c133,
  selago: #f6f8fe,
  wild-blue-yonder: #7c83ac,
  primary: #3c54b2,
  white-lilac: #f5f6fb,
  indigo: #4055bb,
  black-transparent: #99555580,
  woodsmoke: #040405,
  gamboge: #dda213,
  citrine-white: #fcf6e7,
  athens-gray: #e9eaf1,
  night-in-manchester: #3c54b2,
  cascading-white: #f6f6f6,
  black-rgba: #00000080,
  box-shadow-image: #00000029,
  shisha-coal: #3c3c3c,
  abs-black: #000
);

@function color($property-name) {
  @return map-get($colors, $property-name);
}
