@import '../layout/variables';
.mt-minus-3 {
  margin-top: calculateRem(-10px);
}

.mt-minus-4 {
  margin-top: calculateRem(-20px);
}

.mr-minus-3 {
  margin-right: calculateRem(-10px);
}

.m-auto {
  margin: auto;
}

.m-0 {
  margin: 0 !important;
}

.mb-2 {
  margin-bottom: calculateRem(5px) !important;
}

.mb-3 {
  margin-bottom: calculateRem(10px) !important;
}

.mb-4 {
  margin-bottom: calculateRem(20px) !important;
}

.mt-2 {
  margin-top: calculateRem(5px) !important;
}

.mt-3 {
  margin-top: calculateRem(10px) !important;
}

.mt-4 {
  margin-top: calculateRem(20px) !important;
}

.mt-5 {
  margin-top: calculateRem(30px) !important;
}

.overflow-auto {
  overflow: auto;
}

.gap-1 {
  gap: calculateRem(4px);
}

.text-underline {
  text-decoration: underline !important;
}

.text-center {
  text-align: center;
}

.bg-ineherit {
  background-color: inherit !important;
}

.min-height-inherit {
  min-height: inherit;
}

.height-auto {
  height: auto !important;
}

.w-100 {
  width: 100%;
}

.cursor-no-drop {
  cursor: no-drop;
}

.min-height-content-wrapper {
  min-height: calc(100vh - getLayoutSizes(content-header-margin));
}

.popup-add {
  @include flex(center, $direction: column);
  min-height: calculateRem(240px);
  text-align: left;
  margin-top: calculateRem(-10px);
}

.add-label {
  @include flex(center, $direction: column);
  min-height: calculateRem(240px);
  text-align: left;
  margin-top: calculateRem(-10px);
}

.edit-label {
  @include flex(center, $direction: column);
  min-height: calculateRem(240px);
  text-align: left;
  margin-top: calculateRem(-10px);
}

.cursor-pointer {
  cursor: pointer;
}

.d-flex {
  @include flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.d-inline-block {
  display: inline-block;
}

.d-inline {
  display: inline !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-5 {
  gap: calculateRem(5px);
}

.gap-2 {
  gap: calculateRem(20px);
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.direction-column {
  flex-direction: column;
}

.full-height {
  height: 100%;
}

.half-height {
  height: 50%;
}

.half-width {
  width: 50%;
}

.max-w-100 {
  max-width: 100%;
}

.min-w-100 {
  min-width: 100%;
}

.fullwidth-form.fullwidth-form {
  width: 100%;
}

.input-sortable-item {
  transform: translateY(calculateRem(10px));
}

.input-top-label {
  position: relative;
  z-index: 1;
  transform: translateY(calculateRem(11px));
}

.w-fit-content {
  width: fit-content !important;
}

.h-fit-content {
  height: fit-content !important;
}

.details-form-wrapper {
  @include flex(null, center, $flex-wrap: wrap);
  width: fit-content;
  width: -moz-fit-content;
  grid-gap: calculateRem(16px);
  align-content: flex-start;
}

.edited-form-img {
  max-width: calculateRem(60px);
  height: 100%;
  object-fit: contain;
}

.ml-auto {
  margin-left: auto !important;
}

.ml-1 {
  margin-left: calculateRem(6px);
}

.black-color {
  color: color(black-color);
}

.italic {
  font-style: italic;
}

.button-form-min-width {
  min-width: calculateRem(300px) !important;
}

.outlined-text-input {
  min-height: auto;
  label {
    padding-top: 0;
    span {
      display: none;
    }
  }
  input {
    height: auto !important;
    border: none !important;
    border-bottom: 1px solid !important;
    border-radius: 0;
    padding-left: 0;
    min-height: auto;
    font-size: calculateRem(16px);
    padding-bottom: calculateRem(5px);
  }
}

.background-color-initial {
  background-color: initial !important;
}

.form-color {
  color: #505d6e;
}

.uploader-min-height {
  min-height: calculateRem(80px);
}

.dialog-note {
  display: inline-block;
  margin-top: calculateRem(10px);
}

.file-uploader-margin {
  margin-bottom: calculateRem(24px);
}

.edit-switch-center {
  padding-top: calculateRem(14px);
}

.size-medium {
  font-size: calculateRem(16px) !important;
}

.dialog-header {
  position: absolute;
  right: calculateRem(10px);
  top: calculateRem(8px);
  font-size: calculateRem(12px);
}

.page-tabs-wrapper {
  max-width: calculateRem(300px);
}

.position-relative {
  position: relative !important;
}

.no-margin {
  margin: 0;
}

.m-2 {
  margin: calculateRem(5px);
}

.m-3 {
  margin: calculateRem(10px);
}

.italic {
  font-style: italic;
}

.m-t-minus-2 {
  margin-top: -2em;
}
