@import '../layout/variables';
.mt-3 {
    margin-top: 1rem;
}

.min-height-inherit {
    min-height: inherit;
}

.height-auto {
    height: auto !important;
}

.min-height-content-wrapper {
    min-height: calc(100vh - getLayoutSizes(content-header-margin));
}

.popup-add {
    @include flex(center, $direction: column);
    min-height: calculateRem(240px);
    text-align: left;
    margin-top: calculateRem(-10px);
}

.cursor-pointer {
    cursor: pointer;
}

.d-flex {
    @include flex;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.fullwidth-form.fullwidth-form {
    width: 100%;
}

.input-sortable-item {
    transform: translateY(calculateRem(10px));
}

.input-top-label {
    transform: translateY(calculateRem(11px));
}

.details-form-wrapper {
    @include flex(null, center, $flex-wrap: wrap);
    width: fit-content;
    width: -moz-fit-content;
    grid-gap: calculateRem(16px);
    align-content: flex-start;
}

.mb-2 {
    margin-bottom: calculateRem(20px);
}

.edited-form-img {
    max-width: calculateRem(60px);
    height: 100%;
    object-fit: contain;
}

.ml-auto {
    margin-left: auto;
}

.button-form-min-width {
    min-width: calculateRem(300px) !important;
}

.outlined-text-input {
    min-height: auto;
    label {
        padding-top: 0;
        span {
            display: none;
        }
    }
    input {
        height: auto !important;
        border: none !important;
        border-bottom: 1px solid !important;
        border-radius: 0;
        padding-left: 0;
        min-height: auto;
        font-size: calculateRem(16px);
        padding-bottom: calculateRem(5px);
    }
}

.background-color-initial {
    background-color: initial !important;
}

.uploader-min-height {
    min-height: calculateRem(80px);
}

.dialog-note {
    display: inline-block;
    margin-top: calculateRem(10px);
}

.file-uploader-margin {
    margin-bottom: calculateRem(24px);
}

.edit-switch-center {
    padding-top: calculateRem(14px);
}