$from-to-timepicker-sizes: (
  from-to-picker-container: 100%,
  from-to-picker-icon-width: calculateRem(4.5px),
  from-to-picker-icon-height: calculateRem(9px),
  from-to-picker-icon-top: calculateRem(25px),
  from-to-picker-icon-left: 50%,
  from-to-picker-input-offset: calculateRem(16px),
  picker-flex-grow: 1,
  svg-width: calculateRem(14px)
);

@function getFromToTimepickerSizes($key) {
  @return map-get($from-to-timepicker-sizes, $key);
}
