$from-to-timepicker-sizes: (
  currency-wrapper-min-width: calculateRem(32px),
  currency-wrapper-height: calculateRem(32px),
  currency-wrapper-border-radius: 16px,
  currency-wrapper-margin: calculateRem(8px)
);

@function getFromToTimepickerSizes($key) {
  @return map-get($from-to-timepicker-sizes, $key);
}
