@mixin generate-dashboard-styles {
  .DashboardIllustration {
    width: getDashboardSizes(dashboard-illustration-width);

    animation: infinite-rotate linear infinite 2s;
  }

  .DashboardWrapper {
    position: fixed;
    width: 100%;
    height: 100vh;

    top: getDashboardSizes(dashboard-wrapper-position-top);
    @include flex(center, center, column);
  }

  @keyframes infinite-rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .DashboardTitle,
  .DashboardTitle span {
    width: 100%;

    color: var(--theme-default-avatar-label-color, #505d6e);

    margin: 0;
  }

  .DashboardTitle {
    font-size: getDashboardSizes(title-font-size);
    margin-top: getDashboardSizes(title-margin-top);

    @include flex(center, center, $flex-wrap: wrap, $direction: column);

    font-weight: getDashboardSizes(title-font-weight);
  }

  .DashboardTitle span {
    font-size: getDashboardSizes(paragraph-font-size);
    margin-top: getDashboardSizes(paragraph-margin-top);

    max-width: getDashboardSizes(paragraph-max-width);
    text-align: center;
    font-weight: getDashboardSizes(paragraph-font-weight);

    line-height: getDashboardSizes(paragraph-line-height);

    strong {
      font-weight: 400;
      color: color(primary);
    }
  }
}
