@mixin generate-partner-details-styles {
  .PartnerDetailsBase {
    &--container {
      @include flex(null, flex-start);
      margin: getPartnerDetailsSizes(container-margin);
    }

    &--leftBlock {
      margin: getPartnerDetailsSizes(leftBlock-margin);
      width: auto;
      > * {
        margin-bottom: getPartnerDetailsSizes(left-block-all-blocks-margin);
      }
    }

    &--breadCrumb {
      margin: getPartnerDetailsSizes(breadCrumb-margin);
    }
  }
}
