$partner-details-sizes: (
  base-width: calculateRem(994px),
  container-margin: calculateRem(7.5px) 0 0 0,
  leftBlock-margin: 0 calculateRem(8px) 0 0,
  left-block-all-blocks-margin: calculateRem(8px),
  breadCrumb-margin: calculateRem(8.5px) 0 0 0,
  tab-padding-top: calculateRem(16px)
);
$partner-details-colors: ();

@function getPartnerDetailsSizes($key) {
  @return map-get($partner-details-sizes, $key);
}
