@mixin generate-game-list-styles {
    .GamesScroll {
        margin-top: getGamesListSizes(gap);
    }
    .GamesContainer {
        @include flex;
        flex-wrap: wrap;
        margin-left: -(getGamesListSizes(gap));
    }
    .GameCard {
        width: calc(getGamesListSizes(card-width) - getGamesListSizes(gap));
        max-height: getGamesListSizes(card-max-height);
        margin-left: getGamesListSizes(gap);
        margin-bottom: getGamesListSizes(card-bottom-gap);
    }
    .LoaderContainer {
        @include flex(center);
    }
}