@mixin generate-profile-block-styles {
  .ProfileBlock {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 244px;
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
    background: #fff;

    margin-bottom: 10px;
    height: initial;

    &__CoverPhotoIconCell {
      display: block;
      width: 20px;
      height: 20px;
      background: #fff;
      position: absolute;
      top: 12px;
      right: 12px;
      border-radius: 50%;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__CoverPhotoIcon {
      fill: #505d6e;
    }

    &__Cover {
      text-decoration: none;
      min-height: 90px;
      position: relative;
      top: 0;
      left: 0;
      background: #ebedf7;
      overflow: hidden;
      z-index: 100;
      cursor: pointer;

      &--uploaded {
        cursor: default;

        .ProfileBlock__CoverPhotoIconCell {
          cursor: pointer;
          z-index: 30;
        }
      }
    }

    &__CoverImg {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: scale-down;
      z-index: 20;
      object-fit: cover;
    }

    &__ImgCell {
      text-decoration: none;
      position: absolute;
      top: 45px;
      left: 16px;
      width: 64px;
      height: 64px;
      background: #505d6e;
      z-index: 10;
      border-radius: 8px;
      border: solid #fff 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      z-index: 101;
      cursor: pointer;

      &--uploaded {
        cursor: default;

        .ProfileBlock__PhotoCamIcon {
          cursor: pointer;
          z-index: 30;

          right: 3px;
          bottom: 3px;
          transform: initial;
          top: initial;
          left: initial;
        }
      }

      svg {
        fill: #fff;
      }
    }
    &__Info {
      padding-top: 26px;
      padding-bottom: 10px;
      padding-left: 16px;
      padding-right: 16px;

      &--without-logo {
        padding-top: 10px;
      }
    }
    &__Title {
      font-size: 18px;
      line-height: 22px;
      color: #505d6e;
      display: block;
      font-weight: 700;
      word-break: break-word;
    }
    &__SubTitle {
      display: block;
      font-size: 14px;
      line-height: 17px;
      color: #8ea6c1;
      padding-top: 2px;
      word-break: break-word;
    }
    &__PhotoCamIcon {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__Img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }
  }
}
