@mixin generate-empty-form-styles {
    .EmptyForm {
        position: relative;
        @include flex(center, center, $direction: column);
        min-height: calculateRem(140px);
        margin-top: calculateRem(42px);
        &__ImgContent {
            width: calculateRem(50px);
            margin-bottom: calculateRem(5px);
            &--lg {
                width: calculateRem(125px);
            }
        }
        &__ButtonContainer {
            position: absolute;
            top: calculateRem(16px);
            right: calculateRem(16px);
        }
        &__Content {
            font-size: calculateRem(14px);
        }
        &--RemoveCard {
            box-shadow: none !important;
            margin-top: 0;
        }
        &--FullHeight {
            min-height: 100%;
        }
    }
}