@mixin generate-variable-styles {
  .container {
    display: flex;
    align-items: center;
    padding: calculateRem(6px);
    padding-bottom: calculateRem(10px);
    position: relative;
    min-width: calculateRem(177px);
    .button.button {
      color: #4b5767;
    }
    .button-active {
      color: #6667ab !important;
    }
    .button.button:hover {
      color: #6667ab;
    }
    .button {
      width: fit-content;
      height: fit-content;
      svg {
        width: calculateRem(20px);
        height: calculateRem(18px);
      }
    }
    .typography {
      cursor: pointer;
    }
    .typography-container {
      padding-top: calculateRem(11px);
      padding-bottom: calculateRem(11px);
    }
    &-option {
      right: 0;
    }
  }
}
