@mixin generate-variable-styles {
  .container {
    display: flex;
    align-items: center;
    padding: 5px;
    padding-bottom: 10px;
    .button.button {
      color: #4b5767;
    }
    .button-active {
      color: #6667ab !important;
    }
    .button.button:hover {
      color: #6667ab;
    }
    .button {
      width: 15px;
      height: 15px;
    }
    .typography {
      cursor: pointer;
    }
    .typography-container {
      padding-top: 11px;
      padding-bottom: 11px;
    }
  }
}
