@mixin generate-loading-page-styles {
    .LoadingPageWrapper {
        @include flex(center, center);
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: getLoadingPageColors(loading-wrapper-background-color);
        z-index: 1000;
    }
}