@mixin generate-user-details-styles {
  .UserDetailsWrapper {
    margin-top: getUserDetailsSizes(user-details-wrapper-margin-top);
    @include flex();
    .AsideLeftContent {
      margin-right: getUserDetailsSizes(user-card-aside-left-margin-right);
      .UserMainInfo {
        margin-right: getUserDetailsSizes(card-user-main-info-margin);
      }
      .CardName {
        @include flex(null, center);
        background-color: getUserDetailsColors(card-background-color);
        width: getUserDetailsSizes(user-details-card-width);
        height: getUserDetailsSizes(user-card-name-height);
        padding: getUserDetailsSizes(user-card-name-padding);
        box-sizing: border-box;
        > div {
          &:first-child {
            margin-right: getUserDetailsSizes(avatar-img-margin-left);
          }
        }
      }
      .StatusViewContainer {
        height: getUserDetailsSizes(card-statusview-height);
        margin-top: getUserDetailsSizes(card-statusview-margin);
      }
      .CardDateContent {
        margin-top: getUserDetailsSizes(card-statusview-margin);
        max-height: getUserDetailsSizes(card-date-content-height);
      }
    }
    .AsideRightContent {
      width: 100%;
      .CardContent {
        background-color: getUserDetailsColors(card-background-color);
      }
      .UserDetailsTableContent {
        margin-top: getUserDetailsSizes(user-details-table-margin-top);
        width: 100%;

        .UserDetailsTable {
          width: 100%;
          box-shadow: none;
          background-color: transparent;
          border-radius: 0;
        }
        .SelectContent {
          @include flex();

          .CloseIcon {
            margin: getUserDetailsSizes(select-content-svg-margin);
          }
        }

        .AddButton {
          margin-top: getUserDetailsSizes(user-details-button-margin-top);
        }
      }
    }
  }
}
