$balance-group-sizes: (
  balance-group-min-width: calculateRem(50px),
  balance-group-height: calculateRem(34px),
  balance-group-padding:0 calculateRem(10px) 0 calculateRem(10px),
  balance-border-radius:8px,
  balance-quantity-margin:calculateRem(8px),

);
$balance-group-colors: (
  balance-group-background:color(alabaster),
  balance-number-color:color(black-color),
);

@function getBalanceGroupSizes($key) {
  @return map-get($balance-group-sizes, $key);
}

@function getBalanceGroupColors($key) {
  @return map-get($balance-group-colors, $key);
}
