@mixin generate-provider-styles {
  .ProviderWrapper {
    width: getProviderInSizes(provider-wrapper);

    margin: auto;
    min-height: inherit;

    @include flex(null, center);

    .ProviderCard {
      padding: getProviderInSizes(provider-card-padding);
      box-sizing: border-box;

      min-height: getProviderInSizes(provider-card-min-height);

      @include flex;
      flex-direction: column;

      background-color: getProviderInColors(background);

      .ProviderContainer {
        .ProviderTitle {
          font-weight: getProviderInSizes(provider-title-fontWeight);
          text-align: getProviderInSizes(provider-title-align);
        }

        .ProviderContainerWrapper {
          margin-top: getProviderInSizes(provider-container-wrapper);

          .ProviderFormGroup {
            @include flex;
            flex-wrap: wrap;
            column-gap: 1.6rem;
            margin-bottom: getProviderInSizes(provider-form-groupMarginTop);

            .ProviderForm {
              min-height: getProviderInSizes(provider-form-height);
              margin-bottom: 2px;

              flex-grow: 1;

              &--col-4 {
                max-width: 18.4rem;
              }

              &--col-6 {
                max-width: 28.4rem;
              }
            }
          }
        }
      }

      .ProviderButtonGroup {
        @include flex(center, center);

        margin-top: auto;

        position: relative;
        .ProviderCloseButton {
          margin-right: getProviderInSizes(provider-button-closeMargin);
        }
        .ProviderBackButton {
          @include flex(center, center);
          border: 1px solid #8ea6c1;
          padding: 7px;
          position: absolute;
          border-radius: 100%;
          left: 0;
          cursor: pointer;
        }
        .ProviderButtons {
          @include flex(center, center);
        }
      }
    }
  }
}
