$provider-in-colors: (
  background: color(white)
);

$provider-in-sizes: (
  provider-wrapper: calculateRem(728px),
  provider-container: calculateRem(584px),
  provider-container-wrapper: calculateRem(49px),
  provider-card-padding: calculateRem(15px) calculateRem(72px) calculateRem(24px) calculateRem(72px),
  provider-title-fontWeight: 700,
  provider-title-align: center,
  provider-title-padding: calculateRem(15px),
  provider-form-groupMarginRigth: calculateRem(24px),
  provider-form-marginBottom: calculateRem(18px),
  provider-form: calculateRem(280px),
  provider-button-marginTop: calculateRem(164px),
  provider-button-closeMargin: calculateRem(16px),
  provider-form-height: calculateRem(60px)
);

@function getProviderInColors($key) {
  @return map-get($provider-in-colors, $key);
}

@function getProviderInSizes($key) {
  @return map-get($provider-in-sizes, $key);
}
