@mixin generate-sign-in-styles {
  .LoginPageWrapper {
    .LoginPageTitle {
      color: getSignColors(login-page-title-color);
    }

    .LoginPageSubTitle {
      color: getSignColors(login-page-sub-title-color);
    }

    .LoginPageTitle,
    .LoginPageSubTitle {
      margin: 0;
    }

    .LoginBottom {
      margin-bottom: getSignSizes(login-bottom-margin-bottom);
      max-width: getSignSizes(login-bottom-max-width);

      &:last-child {
        min-height: getSignSizes(login-bottom-last-child-height);
      }
    }

    @include flex(flex-end);
    width: 100%;
    height: 100vh;
    background: getSignSizes(gradient-bg);

    .LoginPageBox {
      @include flex(center, center);
      background-color: getSignColors(login-box-bg);
      width: getSignSizes(login-box-width);
      border-radius: getSignSizes(login-box-radius);
      padding-left: getSignSizes(login-box-left-offset);
      box-sizing: border-box;

      .LoginPageTitle {
        margin-bottom: getSignSizes(title-margin);
      }

      .LoginPageSubTitle {
        margin-bottom: getSignSizes(subtitle-margin);
      }

      .FormWrapper {
        margin-bottom: getSignSizes(form-margin);
      }

      .LoginButton {
        button {
          width: 100%;
        }
      }
    }
  }
}
