@mixin generate-sign-in-styles {
  .LoginPageWrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: getSignColors(gradient-bg);
    // & > div > div > div > div {
    //   &:nth-child(2) {
    //     height: 0px;
    //     margin-bottom: 50px;
    //   }
    //   &:nth-child(3) {
    //     height: 0px;
    //     margin-bottom: 50px;
    //   }
    // }
    .SignInImage {
      left: 0;
      bottom: 0;
      position: absolute;
      width: 60%;
      max-width: getSignSizes(sign-in-image-max-width);
      mix-blend-mode: color-dodge;
    }
    .LoginContainer {
      label {
        svg {
          width: getSignSizes(login-page-label-svg);
        }
      }
      @include flex(center, center, column);
      background-color: getSignColors(login-container-color);
      width: getSignSizes(login-container-width);
      height: getSignSizes(login-container-height);
      position: absolute;
      top: getSignSizes(login-position-top);
      left: getSignSizes(login-position-left);
      border-radius: 8px;

      .LoginComponentsContainer {
        width: getSignSizes(login-components-container-width);
        height: getSignSizes(login-components-container-width);
        @include flex(center, center, column);
      }
      .LoginButton {
        width: getSignSizes(login-button-width) !important;

        button {
          width: 100% !important;
        }
      }
    }
    .LoginPageTitle {
      color: getSignColors(login-page-title-color);
      margin-bottom: getSignSizes(login-page-title-margin-bottom);
      margin-top: getSignSizes(margin-size-null);
    }

    .LoginPageSubTitle {
      color: getSignColors(login-page-sub-title-color);
      margin-bottom: getSignSizes(login-page-subtitle-margin-bottom);
      margin-top: getSignSizes(margin-size-null);
    }

    .LoginBottom {
      margin-bottom: getSignSizes(login-bottom-margin-bottom);
      max-width: getSignSizes(login-bottom-max-width) !important;
      width: getSignSizes(login-button-width);

      &:last-child {
        min-height: getSignSizes(login-bottom-last-child-height);
      }
    }

    .LoginPageBox {
      @include flex(center, center);
      background: getSignColors(gradient-bg);
      width: getSignSizes(login-box-width);
      border-radius: getSignSizes(login-box-radius);
      padding-left: getSignSizes(login-box-left-offset);
      box-sizing: border-box;

      .LoginPageTitle {
        margin-bottom: getSignSizes(title-margin);
      }

      .LoginPageSubTitle {
        margin-bottom: getSignSizes(subtitle-margin);
      }

      .FormWrapper {
        position: relative;
        margin-bottom: getSignSizes(form-margin);
<<<<<<< HEAD
        width: getSignSizes(form-wrapper-width);
=======
      }

      .ErrorMessage{
        position: absolute;
        bottom: getSignSizes(error-message-bottom);
      }

      .LoginButton {
        button {
          width: 100%;
        }
>>>>>>> a5a368a34bf4ea64718236c01b1084aecf87fe7e
      }
    }
  }
}
