@mixin generate-browsers-checkbox-styles {
  .BrowsersCheckboxBase {
    width: 30px;
    cursor: pointer;
  }
  .BrowsersCheckboxBase--selected {
    > svg {
      filter: grayscale(1) brightness(1.2);
    }
  }
}
