@mixin generate-page-wrapper-styles {
  .PageWrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: getPageWrapperSizes(page-wrapper-padding);
    .PageWrapperHeader {
      @include flex(space-between, center);
      padding-top: getPageWrapperSizes(page-wrapper-padding-top);
      margin-bottom: getPageWrapperSizes(page-title-margin-bottom);

      .PageTitle {
        color: getPageWrapperColors(page-title-color);
        font-weight: getPageWrapperSizes(page-title-font-weigth);
        margin: 0;
      }
    }
  }
}
