@mixin generate-page-wrapper-styles {
    .PageWrapper {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: getPageWrapperSizes(page-wrapper-padding);
        .PageWrapperHeader {
            @include flex(space-between, center);
            padding-top: getPageWrapperSizes(page-wrapper-padding-top);
            margin-bottom: getPageWrapperSizes(page-title-margin-bottom);
            .PageTitle {
                @include flex(null, center);
                &--span {
                    &--span {
                        font-size: calculateRem(14px);
                        margin-left: calculateRem(10px);
                        font-weight: 400;
                        color: #9b9cc8;
                    }
                    svg {
                        margin-left: calculateRem(10px);
                    }
                }
                div {
                    margin-left: calculateRem(8px);
                }
                position: relative;
                color: getPageWrapperColors(page-title-color);
                font-weight: getPageWrapperSizes(page-title-font-weigth);
                margin: 0;
                padding-left: getPageWrapperSizes(page-title-padding-left);
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    width: getPageWrapperSizes(page-title-border-width);
                    height: 100%;
                    background-color: getPageWrapperColors(page-title-border-color);
                    border-radius: getPageWrapperSizes(page-title-border-radius);
                }
            }
        }
    }
}