@mixin generate-page-wrapper-styles {
  .PageWrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: getPageWrapperInSizes(page-wrapper-padding);
    .PageWrapperHeader {
      @include flex(space-between, center);
      padding-top: getPageWrapperInSizes(page-wrapper-padding-top);
      margin-bottom: getPageWrapperInSizes(page-title-margin-bottom);

      .PageTitle {
        color: #505d6e;
        font-weight: getPageWrapperInSizes(page-title-font-weigth);
        margin: 0;
      }
    }
  }
}
