@mixin generate-category-items-styles {
  .CheckboxWithLabel {
    margin-bottom: calculateRem(10px);
  }
  .CategoryItems {
    $this: #{&};
    width: 100%;
    flex-grow: 1;
    &__top-part {
      @include flex(space-between, center);
      margin-bottom: calculateRem(5px);
      &--only-button {
        justify-content: flex-end;
      }
    }
    &__title {
      color: color(black-color);
      font-weight: 500;
    }
    &__buttons {
      @include flex(flex-end);
      column-gap: calculateRem(10px);
      margin-top: calculateRem(10px);
      padding-bottom: calculateRem(16px);
    }
    &__card {
      padding: calculateRem(24px);
      padding-bottom: 0;
      box-sizing: border-box;
    }
    &__list {
      display: grid;
      align-content: flex-start;
      grid-template-columns: repeat(auto-fill, minmax(#{calculateRem(110px)}, 1fr));
      $padding-bottom: calculateRem(50px);
      height: calc(100% - $padding-bottom);
      gap: calculateRem(12px);
      padding-bottom: $padding-bottom;
    }
    &__item {
      &--width-auto {
        width: auto;
      }
    }
    &__loader {
      @include flex(center);
      grid-column: 1 / -1;
    }
    &__button {
      &--disabled {
        background-color: initial !important;
      }
    }
    &--filter {
      #{$this}__card {
        @include flex($direction: column);
        padding: 0;
        box-shadow: none;
      }
    }
    &--results {
      #{$this}__card {
        display: flex;
        flex-direction: column;
      }
      #{$this}__list {
        height: auto;
      }
      #{$this}__pagination {
        @include flex(center);
        margin-top: auto;
        padding-right: calculateRem(62px);
      }
    }
  }
}
