@mixin generate-user-view-styles {
  .UserView {
    &--user {
      background-color: getUserViewColors(user-view-background-color);
      width: getUserViewSizes(user-width);
      box-sizing: border-box;
      margin: getUserViewSizes(user-margin);
    }

    &--user-detailsContainer {
      @include flex();
    }

    &--user-avatarContainer {
      width: getUserViewSizes(user-avatar-width);
      padding: getUserViewSizes(user-avatar-container-padding);
    }

    &--user-details {
      @include flex(null, flex-start, column);

      > span {
        height: getUserViewSizes(user-details-height);
        font-size: getUserViewSizes(user-details-font-size);
        text-align: left;
        word-break: break-all;
        width: getUserViewSizes(user-info-width);
        @include dots-after-text();
      }

      > span:first-child {
        font-weight: getUserViewSizes(user-details-span-first-font-weight);
        color: getUserViewColors(user-details-name);
        padding: getUserViewSizes(user-details-name-padding);
      }
      > span:last-child {
        color: getUserViewColors(user-details-id);
      }
    }

    &--user-info {
      @include flex(space-between, center);
      padding: getUserViewSizes(user-info-container-padding);
      // margin: getUserViewSizes(user-info-container-margin);

      > span {
        height: getUserViewSizes(user-info-height);
        font-size: getUserViewSizes(user-info-font-size);
        text-align: left;
        color: getUserViewColors(user-info);
        word-break: break-all;
        width: getUserViewSizes(user-info-name-width);
        @include dots-after-text();
      }
    }
    //Player Details User information End
  }
}
