@mixin generate-user-view-styles {
  .UserView {
    &--user {
      background-color: white;
      width: getUserViewSizes(user-width);
      box-sizing: border-box;
      margin: getUserViewSizes(user-margin);
    }

    &--user-detailsContainer {
      @include flex();
    }

    &--user-avatarContainer {
      width: getUserViewSizes(user-avatar-width);
      padding: 14px 0 0 14px;
    }

    &--user-details {
      @include flex(null, flex-start, column);

      > span {
        height: getUserViewSizes(user-details-height);
        font-size: getUserViewSizes(user-details-font-size);
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        word-break: break-all;
        width: getUserViewSizes(user-info-width);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      > span:first-child {
        font-weight: bold;
        color: getUserViewColors(user-details-name);
        padding: getUserViewSizes(user-details-name-padding);
      }
      > span:last-child {
        font-weight: normal;
        color: getUserViewColors(user-details-id);
      }
    }

    &--user-info {
      @include flex(space-between, center);
      padding: getUserViewSizes(user-info-container-padding);
      margin: getUserViewSizes(user-info-container-margin);

      > span {
        height: getUserViewSizes(user-info-height);
        font-size: getUserViewSizes(user-info-font-size);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: getUserViewColors(user-info);
        word-break: break-all;
        width: getUserViewSizes(user-info-name-width);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    //Player Details User information End
  }
}
