@mixin generate-image-checkbox-style {
  .container{
    @include flex()
}
  .RadioButton {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    visibility: hidden;
    display: none;
  }
  
  .ccSelector{
    margin-left:getRadioSizes( radio-button-box-margin);
    margin-right:getRadioSizes( radio-button-box-margin);
  }
  .RadioCardActive {
    -webkit-filter: opacity(getRadioSizes(radio-button-box-active-opacity)) !important;
    -moz-filter: opacity(getRadioSizes(radio-button-box-active-opacity)) !important;
    filter: opacity(getRadioSizes(radio-button-box-active-opacity)) !important;
  }

  .drinkcardCC {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: opacity(getRadioSizes(radio-button-box-inactive-opacity ));
    -moz-filter: opacity(getRadioSizes(radio-button-box-inactive-opacity  ));
    filter: opacity(getRadioSizes(radio-button-box-inactive-opacity ));
    width: getRadioSizes(radio-button-box-width);
  }
}

