$edit-form-in-sizes: (
  edit-form-padding: calculateRem(8px) calculateRem(5px) calculateRem(16px) calculateRem(16px),
  edit-form-title-height: calculateRem(19px),
  edit-form-title-font-size: calculateRem(16px),
  edit-form-title-width: calculateRem(300px),
  edit-form-content-width: 100%,
  edit-form-field-flex: 50%,
  edit-form-field-width: calculateRem(212px),
  edit-form-field-margin: 0 calculateRem(16px) 0 0,
  edit-form-buttons-margin: 0 calculateRem(3px) 0 0
);

$edit-form-in-colors: (
  edit-form-background: #fff,
  edit-form-title-color: #505d6e,
  border-color: #e8edf3
);

@function getEditFormInSizes($key) {
  @return map-get($edit-form-in-sizes, $key);
}

@function getEditFormInColors($key) {
  @return map-get($edit-form-in-colors, $key);
}
