@mixin generate-wallet-view-styles {
  .WalletView {
    width: getWalletViewSizes(wallet-width);
    padding: getWalletViewSizes(wallet-padding);
    box-sizing: border-box;
    margin: getWalletViewSizes(wallet-margin);
    background-color: getWalletViewColors(wallet-view-background-color);

    &--title {
      height: getWalletViewSizes(wallet-title-height);
      font-size: getWalletViewSizes(wallet-title-font-size);
      text-align: left;
      color: getWalletViewColors(wallet-title-color);
      word-break: break-all;
      width: getWalletViewSizes(user-info-name-width);
      @include dots-after-text();
    }

    &--realBalance {
      margin: getWalletViewSizes(wallet-rb-margin);

      > div:first-child {
        @include flex(space-between, center);
        margin: getWalletViewSizes(wallet-rb-items-margin);

        > span {
          &:first-child {
            height: getWalletViewSizes(wallet-rb-height);
            font-size: getWalletViewSizes(wallet-rb-font-size);
            text-align: left;
            color: getWalletViewColors(wallet-rb-title-color);
            word-break: break-all;
            width: getWalletViewSizes(wallet-balance-width);
            @include dots-after-text();
          }

          &:last-child {
            height: getWalletViewSizes(wallet-rb-balance-height);
            font-size: getWalletViewSizes(wallet-rb-balance-font-size);
            font-weight: getWalletViewSizes(real-balance-last-font-weight);
            text-align: right;
            color: getWalletViewColors(wallet-rb-balance-color);
            word-break: break-all;
            width: getWalletViewSizes(wallet-balance-width);
            @include dots-after-text();
          }
        }
      }

      > ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          @include flex(space-between, center);
          position: relative;
          margin: getWalletViewSizes(wallet-rb-items-margin);

          &:before {
            content: '';
            position: absolute;
            width: getWalletViewSizes(real-balance-li-before-sizes);
            height: getWalletViewSizes(real-balance-li-before-sizes);
            background-color: getWalletViewColors(wallet-rb-title-color);
            border-radius: getWalletViewSizes(real-balance-li-before-border-radius);
          }

          > span {
            &:first-child {
              padding: getWalletViewSizes(wallet-rb-sub-padding);
              height: getWalletViewSizes(wallet-rb-sub-label-height);
              font-size: getWalletViewSizes(wallet-rb-sub-label-font-size);
              text-align: left;
              color: getWalletViewColors(wallet-rb-title-color);
              word-break: break-all;
              width: getWalletViewSizes(wallet-balance-width);
              @include dots-after-text();
            }

            &:last-child {
              height: getWalletViewSizes(wallet-rb-sub-balance-height);
              font-size: getWalletViewSizes(wallet-rb-sub-balance-font-size);
              text-align: right;
              color: getWalletViewColors(wallet-rb-balance-color);
              word-break: break-all;
              width: getWalletViewSizes(wallet-balance-width);
              @include dots-after-text();
            }
          }
        }
      }
    }

    &--bonusBalance {
      @include flex(space-between, center);
      margin: getWalletViewSizes(wallet-bb-margin);

      > span {
        word-break: break-all;
        width: getWalletViewSizes(wallet-balance-width);
        @include dots-after-text();

        &:first-child {
          height: getWalletViewSizes(wallet-rb-height);
          font-size: getWalletViewSizes(wallet-rb-font-size);
          text-align: left;
          color: getWalletViewColors(wallet-rb-title-color);
        }

        &:last-child {
          height: getWalletViewSizes(wallet-rb-balance-height);
          font-size: getWalletViewSizes(wallet-rb-balance-font-size);
          font-weight: getWalletViewSizes(real-balance-last-font-weight);
          text-align: right;
          color: getWalletViewColors(wallet-rb-balance-color);
        }
      }
    }

    &--totalBalance {
      @include flex(space-between, center);
      padding: getWalletViewSizes(wallet-tb-padding);
      border-top: getWalletViewSizes(real-balance-border) solid getWalletViewColors(total-balance-border-color);

      > span {
        word-break: break-all;
        max-width: getWalletViewSizes(wallet-balance-width);
        @include dots-after-text();

        &:first-child {
          height: getWalletViewSizes(wallet-rb-height);
          font-size: getWalletViewSizes(wallet-rb-font-size);
          font-weight: getWalletViewSizes(real-balance-last-font-weight);
          text-align: left;
          color: getWalletViewColors(wallet-rb-title-color);
        }
        &:last-child {
          height: getWalletViewSizes(wallet-rb-height);
          font-size: getWalletViewSizes(wallet-rb-font-size);
          padding: getWalletViewSizes(wallet-tb-balance-padding);
          border-radius: getWalletViewSizes(wallet-tb-balance-borderRadius);
          background-color: getWalletViewColors(wallet-tb-background);
          font-weight: getWalletViewSizes(real-balance-last-font-weight);
          text-align: right;
          color: getWalletViewColors(wallet-tb-color);
        }
      }
    }
  }
}
