@mixin generate-edited-form-styles {
  .EditedFormBase {
    width: getEditedFormSizes(edited-form-width);
    &--control {
      @include flex(space-between, center);
      padding: getEditedFormSizes(control-padding);
      width: getEditedFormSizes(control-width);
      height: auto;
      box-sizing: border-box;
    }

    &--control-title {
      height: getEditedFormSizes(control-title-height);
      font-size: getEditedFormSizes(control-title-font-size);
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: getEditedFormColors(control-title-color);
      word-break: break-all;
      width: getEditedFormSizes(control-title-width);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-content {
      position: relative;
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      padding: getEditedFormSizes(content-padding);
      width: getEditedFormSizes(content-width);
      box-sizing: border-box;
      @include generateBorderWithBoxShadow(getEditedFormColors(border-color), 0.1rem);
      transition: height 0.5s;
      overflow: hidden;
    }

    &--option {
      @include flex(null, flex-start, column);
      flex: getEditedFormSizes(option-flex);
      width: getEditedFormSizes(option-width);
      margin: getEditedFormSizes(option-margin);
      height: 37px;
    }

    &--option-title {
      height: getEditedFormSizes(option-title-height);
      font-size: getEditedFormSizes(option-title-font-size);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: getEditedFormColors(option-title-color);
      margin: getEditedFormSizes(option-title-margin);
      word-break: break-all;
      width: getEditedFormSizes(option-title-width);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--option-value {
      height: getEditedFormSizes(option-value-height);
      font-size: getEditedFormSizes(option-value-font-size);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: getEditedFormColors(option-value-color);
      word-break: break-all;
      width: getEditedFormSizes(option-title-width);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--option-value-bold {
      font-weight: bold;
    }

    &--viewMore {
      @include flex(center, center);
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: getEditedFormSizes(edit-form-view-more-borderRadius);
      width: 100%;
      height: getEditedFormSizes(edit-form-view-more-height);
      background-color: getEditedFormColors(edit-form-view-bg);
      cursor: pointer;

      > div {
        @include flex(center, center);
        color: getEditedFormColors(edit-form-view-colors);
        width: getEditedFormSizes(edit-form-view-icon-width);
        width: getEditedFormSizes(edit-form-view-icon-height);
        transition: 0.5s;
      }

      > span {
        color: getEditedFormColors(edit-form-view-colors);
        font-size: getEditedFormSizes(edit-form-view-font-size);
        height: getEditedFormSizes(edit-form-view-label-height);
      }
    }

    &--option-label {
      flex: 100%;
      margin: getEditedFormSizes(option-label-margin);

      > span {
        color: getEditedFormColors(option-label-color);
        height: getEditedFormSizes(option-title-height);
        font-size: getEditedFormSizes(option-title-font-size);
        font-weight: 500;
      }
    }

    &--option-tag {
      margin: getEditedFormSizes(option-margin);
      flex: 100%;
      > div {
        @include flex(null, center, $flex-wrap: wrap);

        > div {
          margin: getEditedFormSizes(option-tag-margin);
          > span {
            color: getEditedFormColors(tag-color) !important;
          }
        }
      }
    }
  }
}
