@mixin generate-edited-form-styles {
  .EditedFormBase {
    &--control {
      @include flex(space-between, center);
      padding: getEditedFormSizes(control-padding);
      width: getEditedFormSizes(control-width);
      height: auto;
      box-sizing: border-box;
    }

    &--control-title {
      height: getEditedFormSizes(control-title-height);
      font-size: getEditedFormSizes(control-title-font-size);
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: getEditedFormColors(control-title-color);
      word-break: break-all;
      width: getEditedFormSizes(control-title-width);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-content {
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      padding: getEditedFormSizes(content-padding);
      width: getEditedFormSizes(content-width);
      height: auto;
      box-sizing: border-box;
      @include generateBorderWithBoxShadow(getEditedFormColors(border-color), 0.1rem);
    }

    &--option {
      @include flex(null, flex-start, column);
      flex: getEditedFormSizes(option-flex);
      width: getEditedFormSizes(option-width);
      margin: getEditedFormSizes(option-margin);
    }

    &--option-title {
      height: getEditedFormSizes(option-title-height);
      font-size: getEditedFormSizes(option-title-font-size);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: getEditedFormColors(option-title-color);
      margin: getEditedFormSizes(option-title-margin);
      word-break: break-all;
      width: getEditedFormSizes(option-title-width);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--option-value {
      height: getEditedFormSizes(option-value-height);
      font-size: getEditedFormSizes(option-value-font-size);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: getEditedFormColors(option-value-color);
      word-break: break-all;
      width: getEditedFormSizes(option-title-width);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
