@mixin generate-user-wallets-styles {
  .UserDetailsTableContent {
    margin-top: getUserDetailsSizes(user-details-table-margin-top);
    width: 100%;

    .UserDetailsTable {
      width: 100%;
      box-shadow: none;
      background-color: transparent;
      border-radius: 0;
    }
    .SelectContent {
      @include flex(null);

      .CloseIcon {
        margin: getUserDetailsSizes(select-content-svg-margin);
      }
    }

    .AddButton {
      margin-top: getUserDetailsSizes(user-details-button-margin-top);
    }
  }
}
