@mixin generate-count-view-styles {
  div.CountViewWrapper {
    background-color: getCountViewColors(card-background);
    margin-bottom: getCountViewSizes(count-wrapper-margin-bottom);
    @include flex(space-between, center);
    box-sizing: border-box;
    padding: getCountViewSizes(count-card-padding);
    height: getCountViewSizes(count-card-height);

    .TagWrapper {
      > div {
        min-width: getCountViewSizes(tag-wrapper-min-width);
        height: getCountViewSizes(tag-wrapper-height);
        span {
          font-weight: getCountViewSizes(tag-text-font-weight);
        }
      }
    }
  }
}
