$banner-uploader-sizes: (
  img-max-height: calculateRem(210px),
  banner-uploader-min-height: calculateRem(300px)
);

$banner-uploader-colors: (
  banner-description-color:color(white)
);

@function getBannerUploaderColors($key) {
  @return map-get($banner-uploader-colors, $key);
}

@function getBannerUploaderSizes($key) {
  @return map-get($banner-uploader-sizes, $key);
}
