$countries-sizes: (
  tag-country-gap: calculateRem(8px)
);

$countries-colors: ();

@function getCountriesInSizes($key) {
  @return map-get($countries-sizes, $key);
}

@function getCountriesInColors($key) {
  @return map-get($countries-colors, $key);
}
