$data-table-sizes: (
  filters-margin-bottom: calculateRem(32px),
  table-config-select: calculateRem(100px),
  image-column: 50%,
  
  //
  data-table-single-item-min-height: calculateRem(190px),
  data-table-image-hover-column-width: calculateRem(40px),
  data-table-image-hover-column-height: calculateRem(40px),
  data-table-image-hover-column-left: calculateRem(107px),
  data-table-image-border-radius: calculateRem(4px),
  data-table-image-box-shadow:0 calculateRem(2px) calculateRem(10px),
  data-table-image-scale:3,

  data-table-tbody-tr-animation:3s,
  data-table-tbody-tr-z-index:50,
  data-table-image-animation:0.3s,
  data-table-image-animation-delay:0.7s,

  
);
$data-table-colors: (
  image-box-shadow-color:color(box-shadow-image),
);

@function getDataTableSizes($key) {
  @return map-get($data-table-sizes, $key);
} 

@function getDataTableColors($key) {
  @return map-get($data-table-colors, $key);
}