@mixin generate-file-uploader-styles {
  .FileUploaderLabelContainer {
    @include flex(space-between, center);
    max-width: getFileUploaderSizes(label-container-max-width);

    margin-top: getFileUploaderSizes(container-margin-top);
  }

  .FileUploaderTooltipIcon {
    cursor: pointer;
    @include flex(flex-end);
    color: getLabelColors(label-color);
    opacity: getLabelSizes(label-optional-opacity);
    transition: opacity getLabelSizes(file-uploader-tolltip-icon-transition);
    svg {
      width: getFileUploaderSizes(file-uploader-tolltip-icon-width) !important;
      fill: currentColor !important;
      transform: translate(-10px, 0) !important;
    }
    &:hover {
      opacity: getLabelSizes(file-uploader-tolltip-icon-opacity);
    }
  }
}
