@mixin generate-file-uploader-styles {
    .FileUploaderErrorMessage,
    .FileUploaderLabelContainer {
        max-width: getFileUploaderSizes(label-container-max-width);
        &--fullWidth {
            max-width: none;
        }
        &--disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }
    .FileUploaderErrorMessage {
        &--sameLineError {
            display: flex
        }
        &--marginLeft {
            margin-left: calculateRem(6px)
        }
    }
    .FileUploaderLabelContainer {
        @include flex(space-between, center);
        margin-top: getFileUploaderSizes(container-margin-top);
    }
    .FileUploaderTooltipIcon {
        @include flex(flex-end);
        color: getLabelColors(label-color);
        opacity: getLabelSizes(label-optional-opacity);
        transition: opacity getLabelSizes(file-uploader-tolltip-icon-transition);
        svg {
            width: getFileUploaderSizes(file-uploader-tolltip-icon-width);
            fill: currentColor;
        }
        &:hover {
            opacity: getLabelSizes(file-uploader-tolltip-icon-opacity);
        }
    }
}