@mixin generate-file-uploader-styles {
  .FileUploaderLabelContainer {
    @include flex(space-between, center);

    max-width: getFileUploaderSizes(label-container-max-width);
  }

  .FileUploaderTooltipIcon {
    cursor: pointer;

    @include flex(flex-end);

    color: getLabelColors(label-color);

    opacity: getLabelSizes(label-optional-opacity);

    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}
