$file-uploader-sizes: (
  label-container-max-width: calculateRem(280px),
  file-uploader-tolltip-icon-transition: 0.3s,
  file-uploader-tolltip-icon-opacity: 1,
  file-uploader-tolltip-icon-width: calculateRem(15px),
  container-margin-top: -
    (
      calculateRem(20px)
    )
);

@function getFileUploaderSizes($key) {
  @return map-get($file-uploader-sizes, $key);
}
