@mixin generate-copy-button-styles {
    .CopyButton {
        padding: 0;
        border: none;
        background: none;
        margin-left: calculateRem(6px);
        cursor: pointer;
        width: calculateRem(15px);
        transform: translateY(calculateRem(3px));
        color: #505d6e;
        transition: all 0.3s;
        &:hover {
            color: #3e454e;
        }
    }
}