.FiltersBase {
  background-color: white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.05);
  width: 124.6rem;
  box-sizing: border-box;

  .FiltersContainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    margin: 2.4rem 1.6rem 0 1.6rem;

    .FilterContainer {
      width: 23rem;
      margin-right: 1.6rem;
      // margin-top: 2.4rem;
      margin-bottom: 0.2rem;
      &:empty {
        display: none;
      }
    }
  }

  &--open {
    height: 100%;
  }

  &--closed {
    height: 7rem;

    .FiltersContainer {
      display: none;
    }

    .Checkbox {
      display: none;
    }

    .ArrowIconContainer {
      transform: rotate(180deg);
    }
  }

  .ControlContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;
    .FilterLabel {
      font-weight: 500;
      color: #505d6e;
      letter-spacing: 0.14rem;
      margin-right: 0.8rem;
    }
    .ToggleContainer {
      display: flex;
      align-items: center;
      .ClearLabelActive {
        color: #3c54b2;
        margin-right: 3.2rem;
      }
      .ClearLabel {
        color: #3c54b2;
        opacity: 0.5;
        margin-right: 3.2rem;
        cursor: pointer;
      }
      .UserFoundLabel {
        color: #505d6e;
        letter-spacing: 0.14rem;
        margin-right: 2.4rem;
      }
      .ArrowIconContainer {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 2.4rem;
        transition: transform 0.5s;
        cursor: pointer;
      }
    }
  }
}

.Checkbox {
  display: flex;
  margin-top: 26px;
  &:empty {
    display: none;
  }
}

.FilterRadioName {
  color: #8ea6c1;
  font-size: 1.2rem;
}
.FilterRadioContainer {
  display: flex;
  .FilterRadioGroup {
    @include flex(null, center);
    margin-bottom: 0.2rem;
    .FilterRadio {
      @include flex(null, center);
      width: 2.4rem;
      height: 2.4rem;
    }
    .FilterRadioLabel {
      margin-right: 0.8rem;
      color: #505d6e;
      font-size: 1.4rem;
    }
  }
}

.FilterCheckbox {
  width: 100%;
  margin: 1.6rem 4rem 0 2.9rem;
  .FilterNameChekbox {
    font-size: 1.2rem;
    color: #8ea6c1;
    margin-bottom: 0.3rem;
  }
  .FilterCheckboxContainer {
    @include flex(null, center);
    .FilterCheckboxWrapper {
      @include flex(null, center);
    }
    .FilterCheckboxCheckContainer {
      @include flex(null, center);
      width: 2.4rem;
      height: 2.4rem;
    }
    .FilterLabelChekcbox {
      color: #505d6e;
      margin-left: 0.4rem;
      margin-right: 0.8rem;
      font-size: 1.4rem;
    }
  }
}
