$web-site-details-sizes: (
  web-site-details-margin-top: calculateRem(11px),
  left-block-width: calculateRem(340px),
  info-content-margin-bottom: calculateRem(8px),
  web-site-left-block-margin: calculateRem(8px),
  status-content-margin-bottom: calculateRem(8px),
  status-content-height: calculateRem(37px),
  web-site-details-bottom-fading-cell-width: 100%
);

@function getWebSiteDetailsSizes($key) {
  @return map-get($web-site-details-sizes, $key);
}
