@mixin generate-molecules-translation-form-styles {
    .TranslationFormCard {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.9rem;
        width: getTranslationGroupSizes(translation-form-card--width);
        @include flex(null, center, column);
    }
    .TranslationFormContent {
        max-height: 51rem;
    }
}