@mixin generate-code-executor-styles {
  .iframe {
    border: 0.5px solid #8ea6c1;
    width: 100%;
    height: 100%;
  }
  .container {
    @include flex();
    min-height: calculateRem(300px);
  }

  :global {
    //This code is written so that the cursor is not lost on outClick.
    .CodeMirror-wrap:not(.CodeMirror-focused) div.CodeMirror-cursors {
      visibility: visible !important;
    }
  }
}
