@mixin generate-game-details-styles {
  .GameDetailsBase {
    .Empty-Page-Title {
      display: block;
      text-align: center;
      width: 100%;
      font-size: 16px;
      line-height: 19px;
      font-family: 'Roboto';
      letter-spacing: 0.32px;
      color: #8ea6c1;
      font-weight: 400;
      opacity: 0.5;
    }

    .Empty-Page-Cell {
      display: flex;
      min-height: 400px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .FlexList {
      display: flex;
      &__Item {
        padding-right: 20px;
      }
    }

    .MainCarcass {
      max-width: 1246px;
      display: flex;
      flex-wrap: nowrap;
      &__Sidebar {
        width: 300px;
      }
      &__Content {
        width: 100%;
        padding-left: 10px;
      }
    }
    .Empty-Page-Icon-Cell {
      max-width: 504px;
      & > svg {
        width: 100% !important;
        height: auto !important;
      }
    }
    .BreadCrumbWrapper {
      display: block;
      padding-bottom: 10px;
    }

    .CardWrapper {
      padding-bottom: 10px;
      position: relative;
      top: 0;
      left: 0;
      & > div {
        margin-bottom: 0;
      }
    }

    .Card__Inner {
      border-radius: 26px;
      min-height: 100%;
      &--Lvl-1 {
        background: #fff;
        padding: 16px 24px 24px 24px;
      }
      &--Lvl-2 {
        padding: 16px 16px 0 16px;
      }
    }

    .EmptyWrapper {
      display: flex;
      button {
        width: 100%;
        height: 32px;
        border-radius: 16px;
        font-size: 14px;
        border: 0;
        cursor: pointer;
        padding: 0;
        margin: 0 10px 0 0;
        &:last-child {
          margin: 0 10px 0 0;
        }
      }
    }

    .CardSubtitle {
      display: block;
      font-family: 'Roboto';
      font-size: 12px;
      line-height: 14px;
      color: #8ea6c1;
    }

    .TagsCell {
      display: flex;
      padding: 7px 0 18px 0;
      & > svg,
      & > div {
        margin-right: 10px;
      }
    }

    .TabContent {
      display: flex;
      box-sizing: border-box;
      &--TwoColGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-areas: '. .' '. .';
      }
      .FlexibleFormWrapper {
        box-sizing: border-box;
        & > div,
        & > div > div {
          width: 100%;
          box-sizing: border-box;
        }
        &--3 {
          text-decoration: none;
          width: 100%;
          grid-area: 2 / 1 / 3 / 3;
        }
      }
    }

    .CardTitle {
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 17px;
      font-size: 17px;
      font-family: 'Roboto';
      color: #505d6e;
    }

    .Device-Tag {
      display: inline-flex;
      padding: 3px 16px 7px 0;
      border-radius: 6px;
      cursor: default;
      svg {
        fill: #505d6e;
      }
    }

    .Device-Tag-Label {
      font: normal normal normal 14px/17px Roboto;
      color: #505d6e;
      margin-left: 10px;
    }

    .GamesList {
      display: block;
      padding: 15px 0;
      &__Header {
        display: flex;
        justify-content: space-between;
      }
      &__Header-1 {
        display: flex;
        justify-content: flex-start;
      }
      &__Header-2 {
        display: flex;
        justify-content: flex-end;
      }
      &__Empty {
        display: none;
      }
      &__Fill {
        text-decoration: none;
      }
      &__Add-Game-Btn {
        position: relative;
        top: 0;
        left: 0;
        &-Label {
          position: relative;
          top: 0;
          left: 0;
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }
        &--Icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 12px;
          height: 12px;
          background: #fff;
          color: #3c54b2;
          font-size: 11px;
          border-radius: 50%;
          font-weight: 700;
          transform: translate(-8px, 0);
          font-style: normal;
        }
      }
    }

    .GamesContainer {
      flex-wrap: wrap;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 10px;
      grid-row-gap: 10px;

      & > div > div > p {
        font-size: 16px;
      }

      & > div > div {
        width: auto;
        height: auto;
      }
    }
  }
}
