@mixin generate-game-details-styles {
  .GameDetailsBase {
    &__GameTag {
      cursor: pointer;
    }

    .GameDetailsBase--notCompleted {
      color: color(black-color);
    }

    .Empty-Page-Title {
      display: block;
      text-align: center;
      width: getGameDetailsSizes(empty-page-title-width);
      font-size: getGameDetailsSizes(empty-page-title-font-size);
      line-height: getGameDetailsSizes(empty-page-title-line-height);
      font-family: inherit;
      letter-spacing: getGameDetailsSizes(empty-page-title-letter-spacing);
      font-weight: getGameDetailsSizes(empty-page-title-font-weight);
      opacity: getGameDetailsSizes(empty-page-title-opacity);
      color: getGameDetailsColors(empty-page-title-color);
    }

    .Empty-Page-Cell {
      @include flex(center, center, null, wrap);
      min-height: getGameDetailsSizes(empty-page-cell-min-height);
    }
    .FlexList {
      @include flex;
      &__Item {
        padding-right: getGameDetailsSizes(flex-list-Item-padding-right);
      }
    }

    .MainCarcass {
      @include flex($flex-wrap: nowrap);
      // max-width: getGameDetailsSizes(main-carcass-max-width);
      &__Sidebar {
        width: getGameDetailsSizes(main-carcass-sidebar-width);
      }
      &__Content {
        width: 100%;
        padding-left: getGameDetailsSizes(main-carcass-content-padding-left);

        form {
          &:last-child {
            width: 100%;
          }
        }
      }
    }
    .Empty-Page-Icon-Cell {
      max-width: getGameDetailsSizes(empty-page-icon-cell-max-width);
      & > svg {
        width: 100% !important;
        height: auto !important;
      }
    }
    .BreadCrumbWrapper {
      display: block;
      padding-bottom: getGameDetailsSizes(bread-crumb-wrapper-padding-bottom);
    }

    .CardWrapper {
      @include p;
      padding-bottom: getGameDetailsSizes(card-wrapper-padding-bottom);
      & > div {
        margin-bottom: getGameDetailsSizes(card-wrapper__div-margin-bottom);
      }

      &--Change-Update {
        & > div {
          width: auto !important;
        }
        & > div > div > span {
          font-size: getGameDetailsSizes(card-wrapper-change-update__div__div__span-font-size);
        }
      }
    }

    .EmptyWrapper {
      // @include flex;
      &--Two-Cols {
        display: grid;
        grid-template: auto / repeat(2, 1fr);
        grid-column-gap: 7px;
      }

      button {
        // border: solid #ff0000 1px !important;
        width: getGameDetailsSizes(empty-wrapper__button-width);
        height: getGameDetailsSizes(empty-wrapper__button-height);
        border-radius: getGameDetailsSizes(empty-wrapper__button-border-radius);
        font-size: getGameDetailsSizes(empty-wrapper__button-font-size);
        padding: getGameDetailsSizes(empty-wrapper__button-padding);
        // margin: getGameDetailsSizes(empty-wrapper__button-margin);
        max-width: auto;
        min-width: auto;
        cursor: pointer;
      }
    }

    .Device-Tag {
      display: inline-flex;
      padding: getGameDetailsSizes(device-tag-padding);
      border-radius: getGameDetailsSizes(device-tag-border-radius);
      cursor: default;
      svg {
        fill: getGameDetailsColors(device-tag-svg-fill);
      }
    }

    .Device-Tag-Label {
      font-family: inherit;
      font-size: getGameDetailsSizes(device-tag-label-font-size);
      line-height: getGameDetailsSizes(device-tag-label-line-height);
      margin-left: getGameDetailsSizes(device-tag-label-margin-left);
      color: getGameDetailsColors(device-tag-label-color);
    }
  }

  .TagsCell {
    @include flex;
    padding: getGameDetailsSizes(tags-cell-padding);
    & > svg {
      margin-right: getGameDetailsSizes(tags-cell__svg-margin-right);
    }
    & > div {
      margin-right: getGameDetailsSizes(tags-cell__div-margin-right);
    }
  }

  .TabContent {
    @include flex;
    box-sizing: getGameDetailsSizes(tab-content-box-sizing);

    &--TwoColGrid {
      display: getGameDetailsSizes(tab-content-two-col-grid-display);
      grid-template-columns: getGameDetailsSizes(tab-content-two-col-grid-grid-template-columns);
      grid-template-rows: getGameDetailsSizes(tab-content-two-col-grid-grid-template-rows);
      grid-column-gap: getGameDetailsSizes(tab-content-two-col-grid-grid-column-gap);
      grid-row-gap: getGameDetailsSizes(tab-content-two-col-grid-grid-row-gap);
      grid-template-areas: getGameDetailsSizes(tab-content-two-col-grid-grid-template-areas);
    }
    .FlexibleFormWrapper {
      box-sizing: border-box;
      & > div,
      & > div > div {
        width: 100%;
        box-sizing: border-box;
      }
      &--3 {
        text-decoration: none;
        width: 100%;
        grid-area: 2 / 1 / 3 / 3;
      }
    }
  }

  .GameDetailsBase {
    &__GameTag {
      cursor: pointer;
    }
  }

  .Card__Inner {
    border-radius: getGameDetailsSizes(card-inner-border-radius);
    min-height: getGameDetailsSizes(card-inner-min-height);
    &--Lvl-1 {
      background: getGameDetailsColors(card-inner-lvl-1-bg-color);
      padding: getGameDetailsSizes(card-inner-lvl-1-padding);
    }
    &--Lvl-2 {
      padding: getGameDetailsSizes(card-inner-lvl-2-padding);
    }
  }

  .CardSubtitle {
    display: block;
    font-family: getGameDetailsSizes(card-subtitle-font-family);
    font-size: getGameDetailsSizes(card-subtitle-font-size);
    line-height: getGameDetailsSizes(card-subtitle-line-height);
    color: getGameDetailsColors(card-subtitle-color);
  }

  .CardTitle {
    font-weight: getGameDetailsSizes(card-title-font-weight);
    overflow: getGameDetailsSizes(card-title-overflow);
    text-overflow: getGameDetailsSizes(card-title-text-overflow);
    white-space: getGameDetailsSizes(card-title-white-space);
    line-height: getGameDetailsSizes(card-title-line-height);
    font-size: getGameDetailsSizes(card-title-font-size);
    font-family: getGameDetailsSizes(card-title-font-family);
    color: getGameDetailsColors(card-title-color);
  }

  .GameDetails__Sidebar-Widget {
    padding-bottom: 10px;
    & > div {
      width: auto !important;
    }
  }
}

.ProfileBlock {
  display: block;
  min-height: 175px;
  position: relative;
  top: 0;
  left: 0;
  width: 244px;
  margin: 0 auto;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;

  &__CoverPhotoIconCell {
    display: block;
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__CoverPhotoIcon {
    fill: #505d6e;
  }

  &__Cover {
    text-decoration: none;
    min-height: 90px;
    position: relative;
    top: 0;
    left: 0;
    background: #ebedf7;
    overflow: hidden;
    z-index: 100;
  }
  &__CoverImg {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 20;
  }
  &__ImgCell {
    text-decoration: none;
    position: absolute;
    top: 45px;
    left: 16px;
    width: 64px;
    height: 64px;
    background: #505d6e;
    z-index: 10;
    border-radius: 8px;
    border: solid #fff 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 101;
    svg {
      fill: #fff;
    }
  }
  &__Info {
    padding-top: 26px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
  }
  &__Title {
    font-size: 18px;
    line-height: 22px;
    color: #505d6e;
    display: block;
    font-weight: 700;
    word-break: break-word;
  }
  &__SubTitle {
    display: block;
    font-size: 14px;
    line-height: 17px;
    color: #8ea6c1;
    padding-top: 2px;
    word-break: break-word;
  }
  &__PhotoCamIcon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
}
