@mixin generate-checkbox-with-label-styles {
  .Checkbox {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: calculateRem(5px);
    &--disabled {
      opacity: 0.6;
      label,
      input,
      svg {
        cursor: initial;
      }
      svg {
        fill: red !important;
      }
    }
    &-tooltip {
      margin-left: calculateRem(5px);
      margin-bottom: calculateRem(-3px);
    }
  }
  .CheckboxLabel {
    font-size: calculateRem(16px);
    color: #48485d;
  }
}
