@mixin generate-filter-styles {
  .FiltersBase {
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.05);
    width: 100%;
    box-sizing: border-box;

    .FiltersContainer {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      box-sizing: border-box;
      width: 100%;
      margin: 0rem 1.6rem 0 1.6rem;
      padding-top: 2.8rem;

      .FilterContainer {
        width: 23rem;
        margin-right: 1.6rem;
        margin-bottom: 0.2rem;
        // margin-top: 2.4rem;

        &.FilterContainerFromTo {
          width: 47.5rem;
          position: relative;
          @include flex;
        }

        &:empty {
          display: none;
        }
      }
    }

    .ArrowIconContainer {
      transform: rotate(180deg);
    }

    &--closed {
      height: 7rem;

      .FiltersContainer {
        display: none;
      }

      .Checkbox {
        display: none;
      }

      .ArrowIconContainer {
        transform: rotate(0);
      }
    }

    .ControlContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.6rem;
      .FilterLabel {
        font-weight: 500;
        color: #505d6e;
        letter-spacing: 0.14rem;
        margin-right: 0.8rem;
      }
      .ToggleContainer {
        display: flex;
        align-items: center;
        .ButtonToogle {
          width: 131px;
        }

        .ClearLabelActive {
          color: #3c54b2;
          margin-right: 3.2rem;
          cursor: pointer;
        }
        .ClearLabel {
          color: #3c54b2;
          opacity: 0.5;
          margin-right: 3.2rem;
          cursor: default;
        }
        .UserFoundLabel {
          color: #505d6e;
          letter-spacing: 0.14rem;
          margin-right: 2.4rem;
        }
        .ArrowIconContainer {
          width: 2.4rem;
          height: 2.4rem;
          margin-right: 2.4rem;
          transition: transform 0.5s;
          cursor: pointer;
        }
      }
    }
  }

  .Checkbox {
    display: flex;
    margin: 2px 0 2px 16px;
    flex-wrap: wrap;
    &:empty {
      display: none;
    }
  }
  .DividerCheckbox {
    width: 1214px;
    margin: auto;
    border: solid 1px #f9f9f9;
    background-color: #f9f9f9;
    margin-top: 26.5px;
  }
}
