@mixin generate-filter-styles {
  .FiltersBase {
    background-color: getFilterColors(filter-base-background);
    box-shadow: getFilterSizes(box-shadow-filter-base) getFilterColors(box-shadow-color);
    width: getFilterSizes(filter-base-width);
    box-sizing: border-box;

    .FiltersContainer {
      @include flex(null, center, $flex-wrap: wrap);
      box-sizing: border-box;
      width: 100%;
      margin: getFilterSizes(filters-container-margin);

      .FilterContainer {
        width: getFilterSizes(filter-container);
        margin: getFilterSizes(filter-container-margin);
      }
    }

    &--open {
      height: 100%;
    }
    &--closed {
      height: getFilterSizes(filter-container-closed);

      .FiltersContainer,
      .Checkbox {
        display: none;
      }
    }

    .ControlContainer {
      @include flex(space-between, center);
      padding: getFilterSizes(control-container-padding);
      .FilterLabel {
        font-weight: getFilterSizes(filter-label-fontWeight);
        letter-spacing: getFilterSizes(filter-label-letterSpacing);
        margin-right: getFilterSizes(filter-label-marginRight);
        color: getFilterColors(filter-label-color);
      }
      .ToggleContainer {
        @include flex(null, center);
        .ClearLabel {
          color: getFilterColors(clear-label-color);
          opacity: getFilterSizes(clear-label);
          margin-right: getFilterSizes(clear-label-marginRight);
        }
        .UserFoundLabel {
          color: getFilterColors(user-label-color);
          letter-spacing: getFilterSizes(user-found-label-letterSpacing);
          margin-right: getFilterSizes(user-found-label-marginRight);
        }
        .ArrowIconContainer {
          width: getFilterSizes(arrow-icon-container-width);
          height: getFilterSizes(arrow-icon-container-height);
          margin-right: getFilterSizes(arrow-icon-container-marginRight);
        }
      }
    }
  }

  .Checkbox {
    @include flex();
    margin-top: getFilterSizes(checkbox-container-marginTop);
  }

  .FilterCheckbox {
    width: 100%;
    margin: getFilterSizes(filter-checkbox-margin);
    .FilterNameChekbox {
      font-size: getFilterSizes(filter-name-chekbox-size);
      color: getFilterColors(filter-name-checkbox-color);
      margin-bottom: getFilterSizes(filter-name-chekbox-marginBottom);
    }
    .FilterCheckboxContainer {
      @include flex(null, center);
      .FilterCheckboxWrapper {
        @include flex(null, center);
      }
      .FilterCheckboxCheckContainer {
        @include flex(null, center);
        width: getFilterSizes(filter-checkbox-check-container-width);
        height: getFilterSizes(filter-checkbox-check-container-height);
      }
      .FilterLabelChekcbox {
        color: getFilterColors(filter-label-checkbox-color);
        margin: getFilterSizes(filter-label-chekcbox-margin);
        font-size: getFilterSizes(filter-label-chekcbox-size);
      }
    }
  }
}
