$filter-sizes: (
  filter-base-width: calculateRem(1246px),
  filters-container-margin: 0 calculateRem(16px) 0 calculateRem(16px),
  filter-container: calcalculateRem(230px),
  filter-container-margin: calculateRem(24px) calculateRem(16px) 0 0,
  filter-container-closed: calculateRem(70px),
  control-container-padding: calculateRem(16px),
  filter-label-fontWeight: 500,
  filter-label-letterSpacing: calculateRem(1.14px),
  filter-label-marginRight: calculateRem(8px),
  clear-label: 0.5,
  clear-label-marginRight: calculateRem(32px),
  user-found-label-letterSpacing: calculateRem(1.14px),
  user-found-label-marginRight: calculateRem(24px),
  arrow-icon-container-width: calculateRem(24px),
  arrow-icon-container-height: calculateRem(24px),
  arrow-icon-container-marginRight: calculateRem(24px),
  filter-radio-name: calculateRem(12px),
  filter-radio-group-marginBottom: calculateRem(2px),
  filter-radio-wdith: calculateRem(24px),
  filter-radio-height: calculateRem(24px),
  filter-radio-label-marginRight: calculateRem(8px),
  filter-radio-label-size: calculateRem(14px),
  filter-checkbox-margin: calculateRem(16px) calculateRem(40px) 0 calculateRem(29px),
  filter-name-chekbox-size: calculateRem(12px),
  filter-name-chekbox-marginBottom: calculateRem(3px),
  filter-checkbox-check-container-width: calculateRem(24px),
  filter-checkbox-check-container-height: calculateRem(24px),
  filter-label-chekcbox-margin: 0 calculateRem(16px) 0 calculateRem(2px),
  filter-label-chekcbox-size: calculateRem(14px),
  checkbox-container-marginTop: calculateRem(26px),
  to-input-icon-width: calculateRem(4.5px),
  to-input-icon-height: calculateRem(9px),
  to-input-icon-postion-top: calculateRem(25px),
  from-input-margin-rigth: calculateRem(16px),
  box-shadow-filter-base: 0 0 calculateRem(4px) 0
);

$filter-colors: (
  filter-base-background: color(white),
  filter-label-color: color(black-color),
  filter-name-checkbox-color: color(nepal),
  filter-label-checkbox-color: color(black-color),
  clear-label-color: color(primary),
  user-label-color: color(black-color),
  box-shadow-color: color(black-transparent)
);

@function getFilterSizes($key) {
  @return map-get($filter-sizes, $key);
}

@function getFilterColors($key) {
  @return map-get($filter-colors, $key);
}
