@mixin generate-last-activity-view-styles {
  .LastActivityView {
    margin: getLastActivityViewSizes(last-activity-margin);
    padding: getLastActivityViewSizes(last-activity-padding);
    width: getLastActivityViewSizes(last-activity-width);
    box-sizing: border-box;
    background-color: getLastActivityViewColors(last-activity-view-background-color);

    > span {
      display: inline-block;
      width: getLastActivityViewSizes(last-activity-text-width);
      height: getLastActivityViewSizes(last-activity-label-height);
      font-size: getLastActivityViewSizes(last-activity-label-font-size);
      text-align: left;
      @include dots-after-text();
      color: getLastActivityViewColors(last-activity-span-color);
      word-break: break-all;
    }

    &--container {
      @include flex(null, null, column);
      margin: getLastActivityViewSizes(last-activity-container-margin);

      > div {
        @include flex(space-between, center);
        margin: getLastActivityViewSizes(last-activity-label-margin);

        &:last-child {
          margin: 0;
        }
      }
    }

    &--label {
      display: inline-block;
      font-size: getLastActivityViewSizes(last-activity-label-font-size);
      max-width: getLastActivityViewSizes(last-activity-label-max-width);
      line-height: getLastActivityViewSizes(last-activity-label-line-height);
      text-align: left;
      color: getLastActivityViewColors(last-activity-label-color);
    }

    &--date {
      display: inline-block;
      height: getLastActivityViewSizes(last-activity-label-height);
      font-size: getLastActivityViewSizes(last-activity-label-font-size);
      font-weight: getLastActivityViewSizes(last-activity--date-font-weight);
      line-height: getLastActivityViewSizes(last-activity--date-line-height);
      text-align: right;
      color: getLastActivityViewColors(last-activity-date-color);
      word-break: break-all;
      width: getLastActivityViewSizes(last-activity--date-width);
      @include dots-after-text();
    }
  }
}
