@mixin generate-label-manager-tag-styles {

    .Container {
        display: flex;
        align-items: baseline;
    }


    .LabelContainer {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        padding: calculateRem(6px) calculateRem(20px);
        background-color: color(whisper);
        border: 1px solid transparent;
        transition: background-color 0.3s ease;
        border-radius: calculateRem(20px);
        margin-bottom: calculateRem(8px);
        cursor: pointer;

        &--bordered {
            border: 1px solid color(scampi);
        }

        &:hover {
            background-color: #DBDBE2;
        }

        &--is-minified {
            margin-bottom: calculateRem(4px);
            padding: calculateRem(3px) calculateRem(7px);
            width: calculateRem(26px);
            max-width: 100%;

            &:hover {
                width: fit-content;
            }
        }
    }

    .LabelText {
        width: 100%;
        color: color(black-color);
        font-size: calculateRem(13px);
        border-radius: calculateRem(20px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .LabelIcon {
        color: color(scampi);
        transition: color 0.3s ease-in;
        margin-right: calculateRem(8px);
        min-width: calculateRem(15px);
        width: calculateRem(15px);

        &--active {
            color: color(lime-c);
        }

        &--is-minified {
            min-width: calculateRem(10px);
            width: calculateRem(10px);
        }
    }

    .SuffixIcon {
        left: calculateRem(8px);
        position: relative;
        color: color(black-color);
    }
}