@mixin generate-item-details-styles {
  .ItemDetailsBase {
    min-width: getItemDetailsSizes(base-min-width);
    min-height: getItemDetailsSizes(base-min-height);
    background-color: getItemDetailsColors(base-bg);
    padding: getItemDetailsSizes(base-padding);
    box-sizing: border-box;

    &--sub-tabs {
      margin: getItemDetailsSizes(subs-margin);
    }

    &--forms {
      @include flex(space-between, null, $flex-wrap: wrap);
      position: relative;
      box-sizing: border-box;
      padding: 2px;
      form {
        width: 100%;
        flex: 50%;
      }
    }
  }

  .EditedFormBase {
    width: getEditedFormSizes(edited-form-width);
  }

  .ItemDetailsBase--forms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    & > div {
      width: 100% !important;
      height: auto !important;
      min-height: auto !important;
      max-height: auto !important;
    }
    & > div > div {
      text-decoration: none !important;
    }
    & > div > div + div {
      height: unset !important;
    }
  }
}
