@mixin generate-item-details-styles {
  .ItemDetailsBase {
    min-width: getItemDetailsSizes(base-min-width);
    min-height: getItemDetailsSizes(base-min-height);
    background-color: getItemDetailsColors(base-bg);
    padding: getItemDetailsSizes(base-padding);
    box-sizing: border-box;

    &--sub-tabs {
      margin: getItemDetailsSizes(subs-margin);
    }

    &--forms {
      @include flex(space-between, null, $flex-wrap: wrap);
      position: relative;
      box-sizing: border-box;
      padding: 2px;
      form {
        width: calc(50% - getPartnerDetailsSizes(form-gap));
        margin-bottom: getPartnerDetailsSizes(form-gap);
      }
    }
  }
}
