$item-details-sizes: (
  base-max-width: calculateRem(994px),
  base-min-height: calculateRem(656px),
  base-min-width: 80%,
  base-padding: calculateRem(16px) calculateRem(16px) calculateRem(16px) calculateRem(16px),
  subs-margin: calculateRem(8px) calculateRem(16px) calculateRem(8px) calculateRem(16px),
  forms-padding:calculateRem(2px),
);

$item-details-colors: (
  base-bg: color(white)
);

@function getItemDetailsSizes($key) {
  @return map-get($item-details-sizes, $key);
}
@function getItemDetailsColors($key) {
  @return map-get($item-details-colors, $key);
} ;
