$icon-group-sizes: (
  icon-group-width: calculateRem(36px),
  icon-group-padding: calculateRem(6px) calculateRem(6px) calculateRem(11px) calculateRem(6px),
  icon-group-borderRadius: calculateRem(18px),
  icon-group-icon-width: calculateRem(24px),
  icon-group-icon-height: calculateRem(24px)
);

$icon-group-colors: (
  icon-group-background: color(catskill-white),
  icon-group-icon-color: color(black-color),
  icon-group-icon-active-color: color(primary)
);

@function getIconGroupSizes($key) {
  @return map-get($icon-group-sizes, $key);
}

@function getIconGroupColors($key) {
  @return map-get($icon-group-colors, $key);
}
