@mixin generate-project-details-styles {
  .ProjectDetailsBase--container {
    @include flex(null, flex-start);
    margin-top: getProjectDetailsSizes(project-details-margin-top);
  }

  .ProjectDetailsBase--leftBlock {
    width: getProjectDetailsSizes(left-block-width);
    margin-right: getProjectDetailsSizes(project-left-block-margin);
  }

  .StatusContent {
    margin-bottom: getProjectDetailsSizes(status-content-margin-bottom);
    height: getProjectDetailsSizes(status-content-height);
  }
  .InfoContent {
    margin-bottom: getProjectDetailsSizes(info-content-margin-bottom);
  }

  .ProjectDetails__Bottom-Fading-Cell {
    display: block;
    width: getProjectDetailsSizes(project-details-bottom-fading-cell-width);
    @include p;
  }
}
