$name-description-sizes: (
  base-width: calculateRem(244px),
  base-padding: calculateRem(16px) calculateRem(16px) calculateRem(12px) calculateRem(16px),
  title-width: calculateRem(180px),
  title-height: calculateRem(14px),
  title-font-size: calculateRem(12px),
  title-position-top: calculateRem(-6px),
  name-max-width: calculateRem(130px),
  core-margin: 0 0 calculateRem(4px) 0,
  core-name-border-radius: 50%,
  description-height: calculateRem(17px),
  description-font-size: calculateRem(14px),
  dot-width-height: calculateRem(3px),
  dot-margin: 0 calculateRem(4px) 0 calculateRem(1px),
  children-border: calculateRem(0.5px),
  children-margin-top: calculateRem(4px),
  children-padding-top: calculateRem(4.5px)
);

$name-description-colors: (
  base-bg: color(white),
  title-color: color(primary),
  name-color: color(nepal),
  description-color: color(black-color),
  children-border-color: color(nepal)
);

@function getNameDescriptionSizes($key) {
  @return map-get($name-description-sizes, $key);
}

@function getNameDescriptionColors($key) {
  @return map-get($name-description-colors, $key);
}
